<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>PARIS | responsive bootstrap html5 template | themeforest | josweb</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">

<!-- Google Fonts -->
<link href='http://fonts.googleapis.com/css?family=Lato:400,700,300' rel='stylesheet' type='text/css'>
<!--[if IE]>
	<link href="http://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
	<link href="http://fonts.googleapis.com/css?family=Lato:400" rel="stylesheet" type="text/css">
	<link href="http://fonts.googleapis.com/css?family=Lato:700" rel="stylesheet" type="text/css">
	<link href="http://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet" type="text/css">
<![endif]-->

<link rel="stylesheet" type="text/css" media="screen" href="css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" media="screen" href="css/style.css" />
<link rel="stylesheet" type="text/css" media="screen" href="css/font-awesome.min.css" />
<link rel="stylesheet" type="text/css" media="screen" href="css/fontello.css" />

<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<!--[if IE 7]>
<link rel="stylesheet" href="css/font-awesome-ie7.min.css">
<link rel="stylesheet" href="css/fontello-ie7.css">
<![endif]--><script src="js/modernizr.custom.js"></script>
</head>

<body>
	<header class="header">
		<!--logo-->
			<div class="container">
			<div class="row">
				<div class="span12">
					<div class="navbar">
					<!--logo-->			
					<div class="logo">
						 <a href="index.html"><img src="img/logo.png" alt="" /></a>  
					</div>
					<!--menu-->	
					<a class="menu-link" href="#menu"><i class="icon-reorder white"></i></a>  
					<nav id="menu2" class="menu">
					<ul>
						<li class="has-submenu">
						<a href="#">Home</a> 
						<ul class="sub-menu">
							<li><a href="index.html">Revolution Captions</a></li>
							<li><a href="index_slides.html">Revolution Slides</a></li>
							<li><a href="index_single.html">Single Image</a></li>
							<li><a href="index_video.html">Single Video</a></li>
							<li><a href="alt_index.html">Alternative Index</a></li>
						</ul>
							</li>
							<li class="has-submenu">
							<a href="#">Pages</a>
						<ul class="sub-menu">
							<li><a href="about.html">About</a></li>
							<li><a href="team.html">The Team</a></li>
							<li><a href="team_member.html">Team Member</a></li>
							<li><a href="services.html">Services</a></li>
							<li><a href="pricing.html">Pricing Tables</a></li>
							<li><a href="dribbble.html">Dribbble Photostream</a></li>
							<li><a href="full_width.html">Full Width</a></li>
							<li><a href="sidebar.html">Sidebar</a></li>
							<li><a href="404.html">404 Page</a></li>
						</ul>
							</li>
							<li class="has-submenu">
							<a href="#">Work </a>
							<ul class="sub-menu">
								<li><a href="portfolio1.html">Sorting Gallery</a></li>
								<li><a href="portfolio2.html">Sorting With Links</a></li>
								<li><a href="portfolio3.html">Gallery Links</a></li>
								<li><a href="portfolio4.html">Sliding Captions</a></li>
								<li><a href="case_study.html">Case Study</a></li>
								<li class="has-submenu">
								<a href="#">Single Pages &raquo;</a>
							<ul>
								<li><a href="single_slider.html">Single Slider</a></li>
								<li><a href="single_video.html">Single Video</a></li>
								<li><a href="single_image.html">Single Image</a></li>
							</ul>
								<li><a href="full_slider.html">Full Slider</a></li>
								<li><a href="full_video.html">Full Video</a></li>
								<li><a href="parallax.html">Parallax</a></li>
								<li><a href="parallax_header.html">Parallax Header</a></li>
							</ul>
							</li>
							<li class="has-submenu">
							<a href="#">Blog </a>
							<ul class="sub-menu">
								<li><a href="blog.html">Blog</a></li>
								<li><a href="blog_post.html">Blog Post</a></li>
								<li><a href="blog_two.html">Blog II</a></li>
								<li><a href="blog_post2.html">Blog Post II</a></li>
							</ul>
							</li>
							<li class="has-submenu-no"><a href="contact.html">Contact</a></li>
						<li class="has-submenu">
							<a href="#">Styles</a>
							<ul class="sub-menu">
								<li><a href="columns.html">Columns</a></li>
								<li><a href="icons.html">Retina Icons</a></li>
								<li><a href="icons2.html">Line Icons</a></li>
								<li><a href="elements.html">Elements</a></li>
							</ul>
							</li>
						</ul>
						</nav>
					</div>
					</div>
					</div>
						</div>
							</header>
							<!--//header-->
							
							<!-- sticky header-->
							<header class="header sticky hidden-phone hidden-tablet">
						<div class="container">
					<div class="row">
				<div class="span12">
					<div class="navbar">
					<!--logo-->			
					<div class="logo-sticky">
						 <a href="index.html"><img src="img/diamond.png" alt="" /></a>  
					</div>
					<!--menu-->	
					<nav id="menu" class="menu menu-sticky">
					<ul>
						<li class="has-submenu">
						<a href="#">Home</a> 
						<ul class="sub-menu">
							<li><a href="index.html">Revolution Captions</a></li>
							<li><a href="index_slides.html">Revolution Slides</a></li>
							<li><a href="index_single.html">Single Image</a></li>
							<li><a href="index_video.html">Single Video</a></li>
							<li><a href="alt_index.html">Alternative Index</a></li>
						</ul>
							</li>
							<li class="has-submenu">
							<a href="#">Pages</a>
						<ul class="sub-menu">
							<li><a href="about.html">About</a></li>
							<li><a href="team.html">The Team</a></li>
							<li><a href="team_member.html">Team Member</a></li>
							<li><a href="services.html">Services</a></li>
							<li><a href="pricing.html">Pricing Tables</a></li>
							<li><a href="dribbble.html">Dribbble Photostream</a></li>
							<li><a href="full_width.html">Full Width</a></li>
							<li><a href="sidebar.html">Sidebar</a></li>
							<li><a href="404.html">404 Page</a></li>
						</ul>
							</li>
							<li class="has-submenu">
							<a href="#">Work </a>
							<ul class="sub-menu">
								<li><a href="portfolio1.html">Sorting Gallery</a></li>
								<li><a href="portfolio2.html">Sorting With Links</a></li>
								<li><a href="portfolio3.html">Gallery Links</a></li>
								<li><a href="portfolio4.html">Sliding Captions</a></li>
								<li><a href="case_study.html">Case Study</a></li>
								<li class="has-submenu">
								<a href="#">Single Pages &raquo;</a>
							<ul>
								<li><a href="single_slider.html">Single Slider</a></li>
								<li><a href="single_video.html">Single Video</a></li>
								<li><a href="single_image.html">Single Image</a></li>
							</ul>
								<li><a href="full_slider.html">Full Slider</a></li>
								<li><a href="full_video.html">Full Video</a></li>
								<li><a href="parallax.html">Parallax</a></li>
								<li><a href="parallax_header.html">Parallax Header</a></li>
							</ul>
							</li>
							<li class="has-submenu">
							<a href="#">Blog </a>
							<ul class="sub-menu">
								<li><a href="blog.html">Blog</a></li>
								<li><a href="blog_post.html">Blog Post</a></li>
								<li><a href="blog_two.html">Blog II</a></li>
								<li><a href="blog_post2.html">Blog Post II</a></li>
							</ul>
							</li>
							<li class="has-submenu-no"><a href="contact.html">Contact</a></li>
						<li class="has-submenu">
							<a href="#">Styles</a>
							<ul class="sub-menu">
								<li><a href="columns.html">Columns</a></li>
								<li><a href="icons.html">Retina Icons</a></li>
								<li><a href="icons2.html">Line Icons</a></li>
								<li><a href="elements.html">Elements</a></li>
							</ul>
							</li>
						</ul>
						</nav>
					</div>
				</div>
				</div>
				</div>
				</header>
				  <!-- // header -->
				
				<!-- page -->
					<div class="container">
            	<div class="row">
					<div class="span12">
						<h1>Case Study</h1>
						<h2 class="small">We are what we repeatedly do.<br/>Excellence, therefore, is not an act, but a habit.</h2>
					<div class="pad15"></div>
				<img src="img/services.jpg" alt="" />
			<div class="pad30"></div>
			<!-- 1 -->
			<div id="object1" class="row up2">
				<div class="span6">
				<img src="img/portfolio/case_study1.png" alt="" class="pad15"/>
			</div>	
			<div class="span6">
				<h4 class="left">Butter Brothers</h4>
				<p>Vintage boilerplate style design for a bakery in Budapest, aiming for a '20s look and feel. The design is a mix of type and hand-lettering, 
				and was painted onto one of the bakery walls by local sign painters.</p>
				<p>Wullam ligula sapien, pharetra eget volutpat vel, consequat in lectus. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			</div>
				</div>	
				<div class="pad45"></div>
			<!-- 2 -->	
			<div id="object" class="row up2">
				<div class="span6">
				<h4 class="left">Coffee Supreme</h4>
				<p>Limited edition silk screened diner mugs designed for New Zealand's Coffee Supreme, packaged with a print of the hand-lettered design.</p>
				<p>Wullam ligula sapien, pharetra eget volutpat vel, consequat in lectus. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			</div>
			<div class="span6">
				<img src="img/portfolio/case_study2.jpg" alt="" class="pad15" />	
			</div>
				</div>	
				<div class="pad45"></div>
			<!-- 3 -->	
			<div id="object3" class="row up2">
				<div class="span6">
				<img src="img/portfolio/case_study3.png" alt=""  />	
			</div>
				<div class="span6">
				<h4 class="left">Needle and Nail</h4>
				<p>Branding project for a store in Vancouver specializing in local hand-made goods. </p>
				<p>Wullam ligula sapien, pharetra eget volutpat vel, consequat in lectus. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			</div>
				</div>	
			</div>
		</div>
	</div>
		<div class="clearfix"></div>
		<div class="pad45"></div>
			<div class="pagination">
				<ul>
					<li><a href="#" class="icon-angle-left"></a></li>
					<li><a href="#" class="icon-angle-right"></a></li>
				</ul>
			</div>
	<!-- // END -->
	<!-- FOOTER -->
			<footer class="footer">
        	<div class="container">
            	<div class="row">
                	<div class="span12 center">
					<img src="img/diamond.png" alt="" />
						<div class="copyright">
					<p>
						<a href="#"><i class="icon icon-facebook marg-right5"></i></a> 
						<a href="#"><i class="icon icon-twitter marg-right5"></i></a> 
						<a href="#"><i class="icon icon-pinterest marg-right5"></i></a>
						<a href="#"><i class="icon icon-github marg-right5"></i></a> 
						<a href="#"><i class="icon icon-google-plus marg-right5"></i></a> 
						<a href="#"><i class="icon icon-dribbble"></i></a></p>
					<p>
						23 Mornington Crescent
						<span class="dark-grey">//</span>
						Camden
						<span class="dark-grey">//</span>
						London
						<span class="dark-grey">//</span>
						+44 020 234 198
                    		<br/>Paris &copy;
							<script type="text/javascript">
							//<![CDATA[
								var d = new Date()
								document.write(d.getFullYear())
								//]]>
								</script>
							 - All Rights Reserved <span class="dark-grey">:</span> Template by <a href="http://spiralpixel.com">Spiral Pixel</a>
						</p>
							</div>
							<div class="go-top"> 
							<span class="dark-grey"><i class="icon icon-align-justify marg-right5"></i></span> 
							<a href="#"><i class="icon icon-chevron-sign-up"></i></a> 
							<span class="dark-grey"><i class="icon icon-align-justify marg-left5"></i></span>
						</div>
					</div>
                </div>
            </div>
        </footer>
        <!-- // END FOOTER -->

<!-- SCRIPTS -->
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/scripts.js"></script>
<script>
//<![CDATA[
	$(window).scroll(function() {
		$('.up').each(function(){
		var imagePos = $(this).offset().top;
	var topOfWindow = $(window).scrollTop();
			if (imagePos < topOfWindow+800) {
				$(this).addClass("slideUp");
			}
		});
	});
	//]]>
</script> 
<script>
//<![CDATA[
	$(window).scroll(function() {
		$('.up2').each(function(){
		var imagePos = $(this).offset().top;
	var topOfWindow = $(window).scrollTop();
			if (imagePos < topOfWindow+400) {
				$(this).addClass("slideUp");
			}
		});
	});
	//]]>
</script> 
</body>
</html>
