
            <div class="container">
              <div class="row">
          <div class="span12">
          <h1>Gallery Two</h1>
            <h2 class="small"> Honesty is the best policy,<br> unless you work in advertising.</h2>
        <div class="pad15"></div>
      
      <div id="zoom_portfolio2" class="dzsportfolio  skin-zero delay-effects special-grid-1 hover-opacity">
    <div class="preloader"></div>
    <div class="items">
    
    <div class="portitem-tobe" data-bigimage="img/portfolio/1l.jpg" data-thumbnail="img/portfolio/1.jpg" data-category="News">
      <div class="the-title"><a href="#">Project Link</a></div> <div class="the-desc">Sub Head</div></div>
    
    
    <div class="portitem-tobe" data-bigimage="img/portfolio/2l.jpg" data-thumbnail="img/portfolio/2.jpg" data-category="News">
      <div class="the-title"><a href="#">Project Link</a></div> <div class="the-desc">Sub Head</div></div>
    
    
    <div class="portitem-tobe" data-bigimage="https://www.youtube.com/watch?v=R6MlUcmOul8" data-thumbnail="img/portfolio/v2.jpg" data-category="Video"> 
      <div class="the-title"><a href="#">Project Link</a></div> <div class="the-desc">Sub Head</div></div>
      
    <div class="portitem-tobe" data-bigimage="img/portfolio/3l.jpg" data-thumbnail="img/portfolio/3.jpg" data-category="Photoshoot">
      <div class="the-title"><a href="#">Project Link</a></div> <div class="the-desc">Sub Head</div></div>
    
    <div class="portitem-tobe" data-bigimage="http://vimeo.com/59653641" data-thumbnail="img/portfolio/v1.jpg" data-category="Video">
      <div class="the-title"><a href="#">Project Link</a></div> <div class="the-desc">Sub Head</div></div>
    
    <div class="portitem-tobe" data-bigimage="img/portfolio/4l.jpg" data-thumbnail="img/portfolio/4.jpg" data-category="Fashion">
      <div class="the-title"><a href="#">Project Link</a></div> <div class="the-desc">Sub Head</div></div>
    
    <div class="portitem-tobe" data-bigimage="img/portfolio/5l.jpg" data-thumbnail="img/portfolio/5.jpg" data-category="Web Design">
      <div class="the-title"><a href="#">Project Link</a></div> <div class="the-desc">Sub Head</div></div>
    
    <div class="portitem-tobe" data-bigimage="img/portfolio/6l.jpg" data-thumbnail="img/portfolio/6.jpg" data-category="Photoshoot">
      <div class="the-title"><a href="#">Project Link</a></div> <div class="the-desc">Sub Head</div></div>
    
    <div class="portitem-tobe" data-bigimage="img/portfolio/7l.jpg" data-thumbnail="img/portfolio/7.jpg" data-category="Fashion">
      <div class="the-title"><a href="#">Project Link</a></div> <div class="the-desc">Sub Head</div></div>
    
    <div class="portitem-tobe" data-bigimage="img/portfolio/8l.jpg" data-thumbnail="img/portfolio/8.jpg" data-category="Photoshoot">
      <div class="the-title"><a href="#">Project Link</a></div> <div class="the-desc">Sub Head</div></div>
    
    <div class="portitem-tobe" data-bigimage="img/portfolio/9l.jpg" data-thumbnail="img/portfolio/9.jpg" data-category="News">
      <div class="the-title"><a href="#">Project Link</a></div> <div class="the-desc">Sub Head</div></div>
    
    <div class="portitem-tobe" data-bigimage="img/portfolio/10l.jpg" data-thumbnail="img/portfolio/10.jpg" data-category="Web Design">
      <div class="the-title"><a href="#">Project Link</a></div> <div class="the-desc">Sub Head</div></div>
    
    <div class="portitem-tobe" data-bigimage="img/portfolio/11l.jpg" data-thumbnail="img/portfolio/11.jpg" data-category="Web Design">
      <div class="the-title"><a href="#">Project Link</a></div> <div class="the-desc">Sub Head</div></div>
    
    <div class="portitem-tobe" data-bigimage="img/portfolio/12l.jpg" data-thumbnail="img/portfolio/12.jpg" data-category="Fashion">
      <div class="the-title"><a href="#">Project Link</a></div> <div class="the-desc">Sub Head</div></div>
    
    <div class="portitem-tobe" data-bigimage="img/portfolio/13l.jpg" data-thumbnail="img/portfolio/13.jpg" data-category="Photoshoot">
      <div class="the-title"><a href="#">Project Link</a></div> <div class="the-desc">Sub Head</div></div>
    </div>
    </div>
        </div>
    </div>
  </div>  