
<div class="container">
  <div class="row">
    <div class="span12">
      <h1>Portfolio</h1>
      <h3> Some selected Works </h3>
      <div class="pad15"></div>

      <div id="zoom_portfolio2" class="dzsportfolio  skin-zero delay-effects special-grid-1 hover-opacity">
        <div class="preloader">
        </div>
        <div class="items">
          <% @projects.each do |p| %>
          <div class="portitem-tobe" data-bigimage="<%= p.image_link%>" data-thumbnail="<%= p.thumbnail%>" data-category="News">
            <div class="the-title"><a href="/portfolio/<%= p.id %>"><%= p.title %></a>
            </div> 
            <div class="the-desc">  
            </div>
          </div>
<%end%>
        </div>
      </div>
    </div>
  </div>
</div>  