
				<!-- page-->
				<div class="container">
            	<div class="row">
					<div class="span12">
						<h1>About</h1>
						<h2 class="small">A confident client will see<br/>your confidence as strength, not arrogance.</h2>
					<div class="main slideLeft">
				<ul class="cbp-ig-grid">
					<li>
						<a href="#">
							<i class="cbp-ig-icon line-icon icon-linelightbulb"></i>
						<h3 class="cbp-ig-title">CREATE</h3></a>
					</li>
					<li>
						<a href="#">
							<i class="cbp-ig-icon line-icon icon-linedesktop"></i>
						<h3 class="cbp-ig-title">DESIGN</h3></a>
					</li>
					<li>
						<a href="#">
							<i class="cbp-ig-icon line-icon icon-linebeaker"></i>
						<h3 class="cbp-ig-title">CODE</h3></a>
					</li>
				</ul>
			</div>
			
		<div class="row slideRight pad60">
			<div class="span8">
			<h4>Our Philosophy</h4>
			<p>Wullam ligula sapien, pharetra eget volutpat vel, consequat in lectus. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
			 Mauris viverra, tortor eget interdum lacinia, lacus mi tempor purus, eu commodo enim dui ac nisl. Morbi euismod ante quis tellus imperdiet porta.</p>
			<p>Wullam ligula sapien, pharetra eget  volutpat vel, consequat in lectus sed do. 
			<span class="dotted"  data-rel="tooltip" data-placement="top" title="Here is the sample of tooltip that contains three lines or more. 
			You can also add a link to it!">Here's a Tooltip</span> eiusmod tempor incididunt ut labore et dolore magna aliqua. 
			
			<a data-toggle="modal" href="#myModal" class="dotted">Launch Modal Box</a> aptent taciti sociosqu litor.
			<!-- sample modal content -->
				<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModal" aria-hidden="true">
					<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h3>Modal Heading</h3>
					</div>
					<div class="modal-body">
				<h5>Sub head</h5>
				<p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac 
				consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue 
				laoreet rutrum faucibus.</p>
				<p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. 
				Donec ullamcorper nulla non metus auctor fringilla.</p>
			</div>
				<div class="modal-footer"><button class="btn btn-colour" data-dismiss="modal">Close</button></div>
			</div> 
			<p>Mauris viverra, tortor eget interdum lacinia, lacus mi tempor purus, eu commodo enim dui ac nisl. Morbi euismod ante quis tellus imperdiet porta. 
			Mauris viverra, tortor eget interdum lacinia, lacus mi tempor purus, eu commodo enim dui ac nisl. Morbi euismod ante quis tellus imperdiet porta.</p>
		<div class="pad25"></div>
	</div>
	
		<div class="span4">
			<h4>Mission</h4>
			<p>Mauris viverra, tortor eget interdum lacinia, lacus mi tempor purus, eu commodo enim dui ac nisl. Morbi euismod ante quis tellus imperdiet porta.</p>
			<h5>Sub head</h5>
			<ul class="icons">
				<li><i class="icon-star red"></i> Responsive Design</li>
				<li><i class="icon-ok red"></i> One font, 249 icons</li>
				<li><i class="icon-bookmark red"></i> Powerful front-end framework</li>
				<li><i class="icon-picture red"></i> Built with Twitter Bootstrap</li>
			</ul>
			<div class="pad25"></div>
		</div>
			</div>
			
			<div class="pad30">	</div>
			
			
			<!-- LATEST WORK -->   
				<div class="container"><div class="row">
				<h3 class="line center">Latest Projects</h3>
				<div class="span12 center pad45">
				<div id="zoom_latest" class="dzsportfolio skin-clean">
				<div class="preloader"></div>
				<div class="items">
					
			<!-- project 1 -->
			<div class="portitem-tobe" data-link="#" data-bigimage="img/portfolio/1l.jpg" data-thumbnail="img/portfolio/1.jpg">
				<div class="the-title">Simple Link</div>
				<div class="the-desc">Sub Head</div>
			</div>
			
			<!-- project 2 -->
			<div class="portitem-tobe" data-bigimage="img/portfolio/9l.jpg" data-thumbnail="img/portfolio/9.jpg">
				<div class="the-title">Single Image</div>
				<div class="the-desc">Sub Head</div>
				<div class="the-content">
				<div class="row">
					<div class="span6">
					<img src="img/portfolio/9l.jpg" alt="" />
					</div>
				<div class="span6 project-meta-con">
                    <div class="project-title">Single Image</div>
						<ul class="icons">
							<li><i class="icon-desktop red"></i> Web Design</li>
							<li><i class="icon-lightbulb red"></i> Visual Concept</li>
							<li><i class="icon-globe red"></i> Web Hosting</li>
							<li><i class="icon-link red"></i> <a class="dotted" href="#">www.greatsite.com</a></li>
						</ul>
					<div class="pad15"></div> 
					<p>Proin laoreet venenatis augue, eu commodo ligula fermentum at vestibulum ante ipsum primis in faucibus. Cum discere aliquando posidonium te, nam nullam.</p>
					<p>Suspendisse tempor leo at massa laoreet vel tincidunt leo molestie. Proin tristique accumsan nisl, quis sollicitudin urna ullamcorper  posuere cubilia curae vel. 
					Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse potenti vivamus purus.</p>             						
				</div>
				</div>
			</div>
				</div>
				
			<!-- project 3 -->
			<div class="portitem-tobe" data-bigimage="img/portfolio/14.jpg" data-thumbnail="img/portfolio/14.jpg">
			<div class="the-title">Video Project</div>
			<div class="the-desc">Sub Head</div>
			<div class="the-content">
            <div class="row">
				<div class="span6">
				<div class="vendor">
            <iframe src="http://player.vimeo.com/video/68997873?title=0&amp;byline=0&amp;portrait=0"></iframe>
          </div>
			</div>
              <div class="span6 project-meta-con">
                    <div class="project-title">Video Project</div>
						<ul class="icons">
							<li><i class="icon-facetime-video red"></i> Video</li>
							<li><i class="icon-lightbulb red"></i> Visual Concept</li>
							<li><i class="icon-link red"></i> <a class="dotted" href="#">www.greatsite.com</a></li>
						</ul>
					<div class="pad15"></div> 
					<p>Proin laoreet venenatis augue, eu commodo ligula fermentum at vestibulum ante ipsum primis in faucibus. Cum discere aliquando posidonium te, nam nullam.</p>
					<p>Suspendisse tempor leo at massa laoreet vel tincidunt leo molestie. Proin tristique accumsan nisl, quis sollicitudin urna ullamcorper  posuere cubilia curae vel. 
					Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse potenti vivamus purus.</p>             						
				</div>
				</div>
			</div>
				</div>
					
			<!-- project 4 -->
			<div class="portitem-tobe" data-bigimage="img/portfolio/2l.jpg" data-thumbnail="img/portfolio/2.jpg">
			<div class="the-title">Slider Project</div>
			<div class="the-desc">Sub Head</div>
			<div class="the-content">
            <div class="row">
				<div class="span6">
                    <div id="carousel" class="carousel slide" data-interval="false">
					<div class="carousel-inner">
					<div class="item active">
						<img src="img/portfolio/2l.jpg" alt="" />
					</div>
						<div class="item">
							<img src="img/portfolio/1l.jpg" alt="" />
						</div>
					<div class="item">
							<img src="img/portfolio/7l.jpg" alt="" />
						</div>
							</div>
                                <a class="left carousel-control" href="#carousel" data-slide="prev"></a>
                                <a class="right carousel-control" href="#carousel" data-slide="next"></a>
                          </div>
                    </div>
				<div class="span6 project-meta-con">
                    <div class="project-title">Slider Project</div>
						<ul class="icons">
							<li><i class="icon-desktop red"></i> Web Design</li>
							<li><i class="icon-lightbulb red"></i> Visual Concept</li>
							<li><i class="icon-globe red"></i> Web Hosting</li>
							<li><i class="icon-link red"></i> <a class="dotted" href="#">www.greatsite.com</a></li>
						</ul>
					<div class="pad15"></div> 
					<p>Proin laoreet venenatis augue, eu commodo ligula fermentum at vestibulum ante ipsum primis in faucibus. Cum discere aliquando posidonium te, nam nullam.</p>
					<p>Suspendisse tempor leo at massa laoreet vel tincidunt leo molestie. Proin tristique accumsan nisl, quis sollicitudin urna ullamcorper  posuere cubilia curae vel. 
					Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse potenti vivamus purus.</p>             						
				</div>
				</div>
			</div>
				</div>
					</div>
					</div>
				</div> 
			</div>
		</div>
		
		
		<div class="pad45"></div>

		
	</div>
		</div>
			</div>
				</div>	
				<div class="container">
				<div class="row"> 
				<table class=MsoTableGrid border=1 cellspacing=0 cellpadding=0 width=612
 style='width:8.5in;margin-left:5.4pt;border-collapse:collapse;border:none;
 mso-border-alt:solid windowtext .5pt;mso-yfti-tbllook:1184;mso-padding-alt:
 0in 5.4pt 0in 5.4pt'>
 <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes;height:3.75pt'>
  <td width=18 rowspan=4 valign=top style='width:.25in;border:none;padding:
  0in 5.4pt 0in 5.4pt;height:3.75pt'>
  <p class=MsoNormal><span style='font-family:Calibri;mso-ascii-theme-font:
  major-latin;mso-hansi-theme-font:major-latin'><o:p>&nbsp;</o:p></span></p>
  </td>
  <td width=342 colspan=2 rowspan=4 valign=top style='width:4.75in;border:none;
  padding:0in 5.4pt 0in 5.4pt;height:3.75pt'>
  <p class=MsoNormal><span style='font-size:16.0pt;font-family:Calibri;
  mso-ascii-theme-font:major-latin;mso-hansi-theme-font:major-latin;color:#36727C'>Professional
  Profile<o:p></o:p></span></p>
  <p class=MsoNormal><span style='font-size:14.0pt;font-family:Calibri;
  mso-ascii-theme-font:major-latin;mso-hansi-theme-font:major-latin'>Creative
  backend developer in the San Francisco <o:p></o:p></span></p>
  <p class=MsoNormal><span style='font-size:14.0pt;font-family:Calibri;
  mso-ascii-theme-font:major-latin;mso-hansi-theme-font:major-latin'>Bay Area
  with a strong mix of Technical, <o:p></o:p></span></p>
  <p class=MsoNormal><span style='font-size:14.0pt;font-family:Calibri;
  mso-ascii-theme-font:major-latin;mso-hansi-theme-font:major-latin'>Business,
  and Communication Skills<o:p></o:p></span></p>
  </td>
  <td width=90 colspan=3 valign=top style='width:1.25in;border:none;padding:
  0in 5.4pt 0in 5.4pt;height:3.75pt'>
  <p class=MsoNormal><span style='font-size:16.0pt;font-family:Calibri;
  mso-ascii-theme-font:major-latin;mso-hansi-theme-font:major-latin;color:#36727C'>Contact</span><span
  style='font-family:Calibri;mso-ascii-theme-font:major-latin;mso-hansi-theme-font:
  major-latin;color:#36727C'><o:p></o:p></span></p>
  </td>
  <td width=144 valign=top style='width:2.0in;border:none;padding:0in 5.4pt 0in 5.4pt;
  height:3.75pt'>
  <p class=MsoNormal><span style='font-family:Calibri;mso-ascii-theme-font:
  major-latin;mso-hansi-theme-font:major-latin'><o:p>&nbsp;</o:p></span></p>
  </td>
  <td width=18 rowspan=4 valign=top style='width:.25in;border:none;padding:
  0in 5.4pt 0in 5.4pt;height:3.75pt'>
  <p class=MsoNormal><span style='font-family:Calibri;mso-ascii-theme-font:
  major-latin;mso-hansi-theme-font:major-latin'><o:p>&nbsp;</o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:1;height:3.75pt'>
  <td width=63 valign=top style='width:63.0pt;border:none;padding:0in 5.4pt 0in 5.4pt;
  height:3.75pt'>
  <p class=MsoNormal><span style='font-size:14.0pt;font-family:Calibri;
  mso-ascii-theme-font:major-latin;mso-hansi-theme-font:major-latin'>E-Mail<o:p></o:p></span></p>
  </td>
  <td width=171 colspan=3 valign=top style='width:171.0pt;border:none;
  padding:0in 5.4pt 0in 5.4pt;height:3.75pt'>
  <p class=MsoNormal align=right style='text-align:right'><span
  style='font-size:14.0pt;font-family:Calibri;mso-ascii-theme-font:major-latin;
  mso-hansi-theme-font:major-latin'>Charlie@CharlieNuttall.com<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:2;height:3.75pt'>
  <td width=63 valign=top style='width:63.0pt;border:none;padding:0in 5.4pt 0in 5.4pt;
  height:3.75pt'>
  <p class=MsoNormal><span style='font-size:14.0pt;font-family:Calibri;
  mso-ascii-theme-font:major-latin;mso-hansi-theme-font:major-latin'>Phone<o:p></o:p></span></p>
  </td>
  <td width=171 colspan=3 valign=top style='width:171.0pt;border:none;
  padding:0in 5.4pt 0in 5.4pt;height:3.75pt'>
  <p class=MsoNormal align=right style='text-align:right'><span
  style='font-size:14.0pt;font-family:Calibri;mso-ascii-theme-font:major-latin;
  mso-hansi-theme-font:major-latin'>415.963.1246<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:3;height:3.75pt'>
  <td width=63 valign=top style='width:63.0pt;border:none;padding:0in 5.4pt 0in 5.4pt;
  height:3.75pt'>
  <p class=MsoNormal><span style='font-size:14.0pt;font-family:Calibri;
  mso-ascii-theme-font:major-latin;mso-hansi-theme-font:major-latin'>Website<o:p></o:p></span></p>
  </td>
  <td width=171 colspan=3 valign=top style='width:171.0pt;border:none;
  padding:0in 5.4pt 0in 5.4pt;height:3.75pt'>
  <p class=MsoNormal align=right style='text-align:right'><span
  style='font-size:14.0pt;font-family:Calibri;mso-ascii-theme-font:major-latin;
  mso-hansi-theme-font:major-latin'>www.CharlieNuttall.com<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:4'>
  <td width=18 valign=top style='width:.25in;border:none;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal><span style='font-size:4.0pt;font-family:Calibri;
  mso-ascii-theme-font:major-latin;mso-hansi-theme-font:major-latin'><o:p>&nbsp;</o:p></span></p>
  </td>
  <td width=576 colspan=6 valign=top style='width:8.0in;border:none;background:
  #36727C;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal><span style='font-size:4.0pt;font-family:Calibri;
  mso-ascii-theme-font:major-latin;mso-hansi-theme-font:major-latin'><o:p>&nbsp;</o:p></span></p>
  </td>
  <td width=18 valign=top style='width:.25in;border:none;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal><span style='font-size:4.0pt;font-family:Calibri;
  mso-ascii-theme-font:major-latin;mso-hansi-theme-font:major-latin'><o:p>&nbsp;</o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:5'>
  <td width=18 valign=top style='width:.25in;border:none;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal><span style='font-family:Calibri;mso-ascii-theme-font:
  major-latin;mso-hansi-theme-font:major-latin'><o:p>&nbsp;</o:p></span></p>
  </td>
  <td width=576 colspan=6 valign=top style='width:8.0in;border:none;padding:
  0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal><span style='font-size:16.0pt;font-family:Calibri;
  mso-ascii-theme-font:major-latin;mso-hansi-theme-font:major-latin;color:#36727C'>Experience</span><span
  style='font-family:Calibri;mso-ascii-theme-font:major-latin;mso-hansi-theme-font:
  major-latin;color:#36727C'><o:p></o:p></span></p>
  </td>
  <td width=18 valign=top style='width:.25in;border:none;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal><span style='font-family:Calibri;mso-ascii-theme-font:
  major-latin;mso-hansi-theme-font:major-latin'><o:p>&nbsp;</o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:6;height:1.4pt'>
  <td width=18 rowspan=10 valign=top style='width:.25in;border:none;padding:
  0in 5.4pt 0in 5.4pt;height:1.4pt'>
  <p class=MsoNormal><span style='font-family:Calibri;mso-ascii-theme-font:
  major-latin;mso-hansi-theme-font:major-latin'><o:p>&nbsp;</o:p></span></p>
  </td>
  <td width=432 colspan=5 valign=top style='width:6.0in;border:none;padding:
  0in 5.4pt 0in 5.4pt;height:1.4pt'>
  <p class=MsoNormal><b style='mso-bidi-font-weight:normal'><span
  style='font-size:16.0pt;font-family:Calibri;mso-ascii-theme-font:major-latin;
  mso-hansi-theme-font:major-latin;color:#183034'>General Assembly<o:p></o:p></span></b></p>
  <p class=MsoNormal><b style='mso-bidi-font-weight:normal'><span
  style='font-size:14.0pt;font-family:Calibri;mso-ascii-theme-font:major-latin;
  mso-hansi-theme-font:major-latin;color:#6DC0CE'>Full Stack Web Developer</span></b><span
  style='font-size:14.0pt;font-family:Calibri;mso-ascii-theme-font:major-latin;
  mso-hansi-theme-font:major-latin;color:#6DC0CE'><o:p></o:p></span></p>
  </td>
  <td width=144 valign=top style='width:2.0in;border:none;padding:0in 5.4pt 0in 5.4pt;
  height:1.4pt'>
  <p class=MsoNormal align=right style='text-align:right'><span
  style='font-family:Calibri;mso-ascii-theme-font:major-latin;mso-hansi-theme-font:
  major-latin;color:#36727C'>December 2013<o:p></o:p></span></p>
  <p class=MsoNormal align=right style='text-align:right'><span
  style='font-family:Calibri;mso-ascii-theme-font:major-latin;mso-hansi-theme-font:
  major-latin;color:#36727C'>April 2014<o:p></o:p></span></p>
  </td>
  <td width=18 rowspan=10 valign=top style='width:.25in;border:none;padding:
  0in 5.4pt 0in 5.4pt;height:1.4pt'>
  <p class=MsoNormal><span style='font-family:Calibri;mso-ascii-theme-font:
  major-latin;mso-hansi-theme-font:major-latin'><o:p>&nbsp;</o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:7;height:1.4pt'>
  <td width=576 colspan=6 valign=top style='width:8.0in;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0in 5.4pt 0in 5.4pt;height:1.4pt'>
  <p class=MsoNormal><span style='font-size:11.5pt;font-family:Calibri;
  mso-ascii-theme-font:major-latin;mso-hansi-theme-font:major-latin'>Intensive
  full-stack web development program.<span style="mso-spacerun:yes">&nbsp;
  </span>Portfolio of projects can be found charlienuttall.com<o:p></o:p></span></p>
  <p class=MsoNormal><span style='font-size:4.0pt;font-family:Calibri;
  mso-ascii-theme-font:major-latin;mso-hansi-theme-font:major-latin'><o:p>&nbsp;</o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:8;height:1.4pt'>
  <td width=432 colspan=5 valign=top style='width:6.0in;border:none;mso-border-top-alt:
  solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt;height:1.4pt'>
  <p class=MsoNormal><b style='mso-bidi-font-weight:normal'><span
  style='font-size:16.0pt;font-family:Calibri;mso-ascii-theme-font:major-latin;
  mso-hansi-theme-font:major-latin;color:#183034'>American Express<o:p></o:p></span></b></p>
  <p class=MsoNormal><b style='mso-bidi-font-weight:normal'><span
  style='font-size:14.0pt;font-family:Calibri;mso-ascii-theme-font:major-latin;
  mso-hansi-theme-font:major-latin;color:#6DC0CE'>Travel Counselor</span></b><span
  style='font-family:Calibri;mso-ascii-theme-font:major-latin;mso-hansi-theme-font:
  major-latin'><o:p></o:p></span></p>
  </td>
  <td width=144 valign=top style='width:2.0in;border:none;border-top:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt;
  height:1.4pt'>
  <p class=MsoNormal align=right style='text-align:right'><span
  style='font-family:Calibri;mso-ascii-theme-font:major-latin;mso-hansi-theme-font:
  major-latin;color:#36727C'>April 2011<o:p></o:p></span></p>
  <p class=MsoNormal align=right style='text-align:right'><span
  style='font-family:Calibri;mso-ascii-theme-font:major-latin;mso-hansi-theme-font:
  major-latin;color:#36727C'>December 2013</span><span style='font-family:Calibri;
  mso-ascii-theme-font:major-latin;mso-hansi-theme-font:major-latin'><o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:9;height:1.4pt'>
  <td width=576 colspan=6 valign=top style='width:8.0in;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0in 5.4pt 0in 5.4pt;height:1.4pt'>
  <p class=MsoNormal><span style='font-size:11.5pt;font-family:Calibri;
  mso-ascii-theme-font:major-latin;mso-hansi-theme-font:major-latin'>Crafted
  memorable travel experiences.<span style="mso-spacerun:yes">&nbsp;
  </span>Remained flexible to manage both concerns of clients while supporting
  needs of my team. Assisted in on boarding, training, and mentoring new
  colleagues.<span style="mso-spacerun:yes">&nbsp; </span>Created and performed
  regional technology training.<span style="mso-spacerun:yes">&nbsp;
  </span>Implemented new processes to avoid negative impact to clients or the
  company.<span style="mso-spacerun:yes">&nbsp; </span>Supported my team with
  questions regarding systems and ticketing issues.<span
  style="mso-spacerun:yes">&nbsp; </span>Thought outside the box for new
  methods to better serve both the internal and external customers.<span
  style="mso-spacerun:yes">&nbsp; </span>Sought feedback from my leaders and
  peers on how to improve and develop my skills.<span
  style="mso-spacerun:yes">&nbsp; </span>Used training opportunities offered to
  develop my leadership skills.<span style="mso-spacerun:yes">&nbsp;
  </span>Resolved hardware and software technical issues on local and regional
  level.<o:p></o:p></span></p>
  <p class=MsoNormal><span style='font-size:4.0pt;font-family:Calibri;
  mso-ascii-theme-font:major-latin;mso-hansi-theme-font:major-latin'><o:p>&nbsp;</o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:10;height:1.4pt'>
  <td width=432 colspan=5 valign=top style='width:6.0in;border:none;mso-border-top-alt:
  solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt;height:1.4pt'>
  <p class=MsoNormal><b style='mso-bidi-font-weight:normal'><span
  style='font-size:16.0pt;font-family:Calibri;mso-ascii-theme-font:major-latin;
  mso-hansi-theme-font:major-latin;color:#183034'>Virgin America<o:p></o:p></span></b></p>
  <p class=MsoNormal><b style='mso-bidi-font-weight:normal'><span
  style='font-size:14.0pt;font-family:Calibri;mso-ascii-theme-font:major-latin;
  mso-hansi-theme-font:major-latin;color:#6DC0CE'>In-Flight Team Member</span></b><span
  style='font-family:Calibri;mso-ascii-theme-font:major-latin;mso-hansi-theme-font:
  major-latin'><o:p></o:p></span></p>
  </td>
  <td width=144 valign=top style='width:2.0in;border:none;border-top:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt;
  height:1.4pt'>
  <p class=MsoNormal align=right style='text-align:right'><span
  style='font-family:Calibri;mso-ascii-theme-font:major-latin;mso-hansi-theme-font:
  major-latin;color:#36727C'>October 2008<o:p></o:p></span></p>
  <p class=MsoNormal align=right style='text-align:right'><span
  style='font-family:Calibri;mso-ascii-theme-font:major-latin;mso-hansi-theme-font:
  major-latin;color:#36727C'>January 2011</span><span style='font-family:Calibri;
  mso-ascii-theme-font:major-latin;mso-hansi-theme-font:major-latin'><o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:11;height:1.4pt'>
  <td width=576 colspan=6 valign=top style='width:8.0in;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0in 5.4pt 0in 5.4pt;height:1.4pt'>
  <p class=MsoNormal><span style='font-size:11.5pt;font-family:Calibri;
  mso-ascii-theme-font:major-latin;mso-hansi-theme-font:major-latin'>Anticipated
  and provided for the onboard comfort and safety of guests.<span
  style="mso-spacerun:yes">&nbsp; </span>Acted as In-Flight Team Leader when
  required to supervise onboard staff. Kept a positive, approachable manner
  with both fellow teammates and guests. Trained fellow teammates in
  international policies and procedures as a member of the International Cadre
  team.<o:p></o:p></span></p>
  <p class=MsoNormal><span style='font-size:4.0pt;font-family:Calibri;
  mso-ascii-theme-font:major-latin;mso-hansi-theme-font:major-latin'><o:p>&nbsp;</o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:12;height:1.4pt'>
  <td width=432 colspan=5 valign=top style='width:6.0in;border:none;mso-border-top-alt:
  solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt;height:1.4pt'>
  <p class=MsoNormal><b style='mso-bidi-font-weight:normal'><span
  style='font-size:16.0pt;font-family:Calibri;mso-ascii-theme-font:major-latin;
  mso-hansi-theme-font:major-latin;color:#183034'>Virgin America<o:p></o:p></span></b></p>
  <p class=MsoNormal><b style='mso-bidi-font-weight:normal'><span
  style='font-size:14.0pt;font-family:Calibri;mso-ascii-theme-font:major-latin;
  mso-hansi-theme-font:major-latin;color:#6DC0CE'>Guest Services Team Member</span></b><span
  style='font-family:Calibri;mso-ascii-theme-font:major-latin;mso-hansi-theme-font:
  major-latin'><o:p></o:p></span></p>
  </td>
  <td width=144 valign=top style='width:2.0in;border:none;border-top:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt;
  height:1.4pt'>
  <p class=MsoNormal align=right style='text-align:right'><span
  style='font-family:Calibri;mso-ascii-theme-font:major-latin;mso-hansi-theme-font:
  major-latin;color:#36727C'>June 2007<o:p></o:p></span></p>
  <p class=MsoNormal align=right style='text-align:right'><span
  style='font-family:Calibri;mso-ascii-theme-font:major-latin;mso-hansi-theme-font:
  major-latin;color:#36727C'>October 2008</span><span style='font-family:Calibri;
  mso-ascii-theme-font:major-latin;mso-hansi-theme-font:major-latin'><o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:13;height:1.4pt'>
  <td width=576 colspan=6 valign=top style='width:8.0in;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0in 5.4pt 0in 5.4pt;height:1.4pt'>
  <p class=MsoNormal><span style='font-size:11.5pt;font-family:Calibri;
  mso-ascii-theme-font:major-latin;mso-hansi-theme-font:major-latin'>Performed
  full range of guest support functions including Check-In, Gate Management,
  Baggage Service, and Flight Operations.<span style="mso-spacerun:yes">&nbsp;
  </span>Communicated with aircraft via ACARS and radio.<span
  style="mso-spacerun:yes">&nbsp; </span>Interfaced with Systems Operations,
  Ground Control, and various business partners.<span
  style="mso-spacerun:yes">&nbsp; </span>Worked seamlessly with all departments
  to create a cohesive guest experience. Coordinated teammate resources.
  Designed and implemented a more streamlined baggage service office.<o:p></o:p></span></p>
  <p class=MsoNormal><span style='font-size:4.0pt;font-family:Calibri;
  mso-ascii-theme-font:major-latin;mso-hansi-theme-font:major-latin'><o:p>&nbsp;</o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:14;height:1.4pt'>
  <td width=432 colspan=5 valign=top style='width:6.0in;border:none;mso-border-top-alt:
  solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt;height:1.4pt'>
  <p class=MsoNormal><b style='mso-bidi-font-weight:normal'><span
  style='font-size:16.0pt;font-family:Calibri;mso-ascii-theme-font:major-latin;
  mso-hansi-theme-font:major-latin;color:#183034'>Apple<o:p></o:p></span></b></p>
  <p class=MsoNormal><b style='mso-bidi-font-weight:normal'><span
  style='font-size:14.0pt;font-family:Calibri;mso-ascii-theme-font:major-latin;
  mso-hansi-theme-font:major-latin;color:#6DC0CE'>Genius Concierge</span></b><span
  style='font-family:Calibri;mso-ascii-theme-font:major-latin;mso-hansi-theme-font:
  major-latin'><o:p></o:p></span></p>
  </td>
  <td width=144 valign=top style='width:2.0in;border:none;border-top:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt;
  height:1.4pt'>
  <p class=MsoNormal align=right style='text-align:right;tab-stops:center 66.6pt'><span
  style='font-family:Calibri;mso-ascii-theme-font:major-latin;mso-hansi-theme-font:
  major-latin;color:#36727C'>October 2006<o:p></o:p></span></p>
  <p class=MsoNormal align=right style='text-align:right;tab-stops:center 66.6pt'><span
  style='font-family:Calibri;mso-ascii-theme-font:major-latin;mso-hansi-theme-font:
  major-latin;color:#36727C'>May 2007</span><span style='font-family:Calibri;
  mso-ascii-theme-font:major-latin;mso-hansi-theme-font:major-latin'><o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:15;height:1.4pt'>
  <td width=576 colspan=6 valign=top style='width:8.0in;border:none;padding:
  0in 5.4pt 0in 5.4pt;height:1.4pt'>
  <p class=MsoNormal><span style='font-size:11.5pt;font-family:Calibri;
  mso-ascii-theme-font:major-latin;mso-hansi-theme-font:major-latin'>Handled
  scheduling of service appointments. Problem solved last minute technical and
  product inquiries. Assisted in scheduling of 20-member team. Promoted sales
  of ancillary products, Used PeopleSoft CRM to manage customer information and
  service inquires.<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:16'>
  <td width=18 valign=top style='width:.25in;border:none;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal><span style='font-size:4.0pt;font-family:Calibri;
  mso-ascii-theme-font:major-latin;mso-hansi-theme-font:major-latin'><o:p>&nbsp;</o:p></span></p>
  </td>
  <td width=576 colspan=6 valign=top style='width:8.0in;border:none;background:
  #36727C;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal><span style='font-size:4.0pt;font-family:Calibri;
  mso-ascii-theme-font:major-latin;mso-hansi-theme-font:major-latin'><o:p>&nbsp;</o:p></span></p>
  </td>
  <td width=18 valign=top style='width:.25in;border:none;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal><span style='font-size:4.0pt;font-family:Calibri;
  mso-ascii-theme-font:major-latin;mso-hansi-theme-font:major-latin'><o:p>&nbsp;</o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:17'>
  <td width=18 valign=top style='width:.25in;border:none;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal><span style='font-family:Calibri;mso-ascii-theme-font:
  major-latin;mso-hansi-theme-font:major-latin'><o:p>&nbsp;</o:p></span></p>
  </td>
  <td width=576 colspan=6 valign=top style='width:8.0in;border:none;padding:
  0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal><span style='font-size:16.0pt;font-family:Calibri;
  mso-ascii-theme-font:major-latin;mso-hansi-theme-font:major-latin;color:#36727C'>Skills</span><span
  style='font-family:Calibri;mso-ascii-theme-font:major-latin;mso-hansi-theme-font:
  major-latin;color:#36727C'><o:p></o:p></span></p>
  </td>
  <td width=18 valign=top style='width:.25in;border:none;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal><span style='font-family:Calibri;mso-ascii-theme-font:
  major-latin;mso-hansi-theme-font:major-latin'><o:p>&nbsp;</o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:18;height:3.5pt'>
  <td width=18 rowspan=4 valign=top style='width:.25in;border:none;padding:
  0in 5.4pt 0in 5.4pt;height:3.5pt'>
  <p class=MsoNormal><span style='font-family:Calibri;mso-ascii-theme-font:
  major-latin;mso-hansi-theme-font:major-latin'><o:p>&nbsp;</o:p></span></p>
  </td>
  <td width=117 valign=top style='width:117.35pt;border:none;padding:0in 5.4pt 0in 5.4pt;
  height:3.5pt'>
  <p class=MsoNormal><span style='font-family:Calibri;mso-ascii-theme-font:
  major-latin;mso-hansi-theme-font:major-latin'>Languages<o:p></o:p></span></p>
  </td>
  <td width=459 colspan=5 valign=top style='width:458.65pt;border:none;
  padding:0in 5.4pt 0in 5.4pt;height:3.5pt'>
  <p class=MsoNormal><span style='font-family:Calibri;mso-ascii-theme-font:
  major-latin;mso-hansi-theme-font:major-latin'>Ruby, JavaScript, HTML5, CSS3<o:p></o:p></span></p>
  </td>
  <td width=18 rowspan=4 valign=top style='width:.25in;border:none;padding:
  0in 5.4pt 0in 5.4pt;height:3.5pt'>
  <p class=MsoNormal><span style='font-family:Calibri;mso-ascii-theme-font:
  major-latin;mso-hansi-theme-font:major-latin'><o:p>&nbsp;</o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:19;height:3.5pt'>
  <td width=117 valign=top style='width:117.35pt;border:none;padding:0in 5.4pt 0in 5.4pt;
  height:3.5pt'>
  <p class=MsoNormal><span style='font-family:Calibri;mso-ascii-theme-font:
  major-latin;mso-hansi-theme-font:major-latin'>Database<o:p></o:p></span></p>
  </td>
  <td width=459 colspan=5 valign=top style='width:458.65pt;border:none;
  padding:0in 5.4pt 0in 5.4pt;height:3.5pt'>
  <p class=MsoNormal><span style='font-family:Calibri;mso-ascii-theme-font:
  major-latin;mso-hansi-theme-font:major-latin'>PostgreSQL, MySQL, Microsoft
  SQL Server<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:20;height:3.5pt'>
  <td width=117 valign=top style='width:117.35pt;border:none;padding:0in 5.4pt 0in 5.4pt;
  height:3.5pt'>
  <p class=MsoNormal><span style='font-family:Calibri;mso-ascii-theme-font:
  major-latin;mso-hansi-theme-font:major-latin'>Libraries/Frameworks<o:p></o:p></span></p>
  </td>
  <td width=459 colspan=5 valign=top style='width:458.65pt;border:none;
  padding:0in 5.4pt 0in 5.4pt;height:3.5pt'>
  <p class=MsoNormal><span style='font-family:Calibri;mso-ascii-theme-font:
  major-latin;mso-hansi-theme-font:major-latin'>Rails, Sinatra, jQuery, AJAX,
  Backbone.JS, RSpec<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:21;height:3.5pt'>
  <td width=117 valign=top style='width:117.35pt;border:none;padding:0in 5.4pt 0in 5.4pt;
  height:3.5pt'>
  <p class=MsoNormal><span style='font-family:Calibri;mso-ascii-theme-font:
  major-latin;mso-hansi-theme-font:major-latin'>Other<o:p></o:p></span></p>
  </td>
  <td width=459 colspan=5 valign=top style='width:458.65pt;border:none;
  padding:0in 5.4pt 0in 5.4pt;height:3.5pt'>
  <p class=MsoNormal><span style='font-family:Calibri;mso-ascii-theme-font:
  major-latin;mso-hansi-theme-font:major-latin'>Amazon Web Services, Microsoft
  Windows Azure, Heroku, Git, GitHub<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:22;height:3.5pt'>
  <td width=18 valign=top style='width:.25in;border:none;padding:0in 5.4pt 0in 5.4pt;
  height:3.5pt'>
  <p class=MsoNormal><span style='font-family:Calibri;mso-ascii-theme-font:
  major-latin;mso-hansi-theme-font:major-latin'><o:p>&nbsp;</o:p></span></p>
  </td>
  <td width=117 valign=top style='width:117.35pt;border:none;padding:0in 5.4pt 0in 5.4pt;
  height:3.5pt'>
  <p class=MsoNormal><span style='font-family:Calibri;mso-ascii-theme-font:
  major-latin;mso-hansi-theme-font:major-latin'>Travel Technologies<o:p></o:p></span></p>
  </td>
  <td width=459 colspan=5 valign=top style='width:458.65pt;border:none;
  padding:0in 5.4pt 0in 5.4pt;height:3.5pt'>
  <p class=MsoNormal><span style='font-family:Calibri;mso-ascii-theme-font:
  major-latin;mso-hansi-theme-font:major-latin'>Sabre, IATA Airline Fare
  Construction and Ticketing<o:p></o:p></span></p>
  </td>
  <td width=18 valign=top style='width:.25in;border:none;padding:0in 5.4pt 0in 5.4pt;
  height:3.5pt'>
  <p class=MsoNormal><span style='font-family:Calibri;mso-ascii-theme-font:
  major-latin;mso-hansi-theme-font:major-latin'><o:p>&nbsp;</o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:23'>
  <td width=18 valign=top style='width:.25in;border:none;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal><span style='font-size:4.0pt;font-family:Calibri;
  mso-ascii-theme-font:major-latin;mso-hansi-theme-font:major-latin'><o:p>&nbsp;</o:p></span></p>
  </td>
  <td width=576 colspan=6 valign=top style='width:8.0in;border:none;background:
  #36727C;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal><span style='font-size:4.0pt;font-family:Calibri;
  mso-ascii-theme-font:major-latin;mso-hansi-theme-font:major-latin'><o:p>&nbsp;</o:p></span></p>
  </td>
  <td width=18 valign=top style='width:.25in;border:none;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal><span style='font-size:4.0pt;font-family:Calibri;
  mso-ascii-theme-font:major-latin;mso-hansi-theme-font:major-latin'><o:p>&nbsp;</o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:24'>
  <td width=18 valign=top style='width:.25in;border:none;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal><span style='font-family:Calibri;mso-ascii-theme-font:
  major-latin;mso-hansi-theme-font:major-latin'><o:p>&nbsp;</o:p></span></p>
  </td>
  <td width=576 colspan=6 valign=top style='width:8.0in;border:none;padding:
  0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal><span style='font-size:16.0pt;font-family:Calibri;
  mso-ascii-theme-font:major-latin;mso-hansi-theme-font:major-latin;color:#36727C'>Education</span><span
  style='font-family:Calibri;mso-ascii-theme-font:major-latin;mso-hansi-theme-font:
  major-latin;color:#36727C'><o:p></o:p></span></p>
  </td>
  <td width=18 valign=top style='width:.25in;border:none;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal><span style='font-family:Calibri;mso-ascii-theme-font:
  major-latin;mso-hansi-theme-font:major-latin'><o:p>&nbsp;</o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:25;height:7.0pt'>
  <td width=18 rowspan=2 valign=top style='width:.25in;border:none;padding:
  0in 5.4pt 0in 5.4pt;height:7.0pt'>
  <p class=MsoNormal><span style='font-family:Calibri;mso-ascii-theme-font:
  major-latin;mso-hansi-theme-font:major-latin'><o:p>&nbsp;</o:p></span></p>
  </td>
  <td width=410 colspan=4 valign=top style='width:409.5pt;border:none;
  padding:0in 5.4pt 0in 5.4pt;height:7.0pt'>
  <p class=MsoNormal><span style='font-family:Calibri;mso-ascii-theme-font:
  major-latin;mso-hansi-theme-font:major-latin'>General Assembly Web
  Development Immersive, San Francisco<o:p></o:p></span></p>
  </td>
  <td width=167 colspan=2 valign=top style='width:166.5pt;border:none;
  padding:0in 5.4pt 0in 5.4pt;height:7.0pt'>
  <p class=MsoNormal><span style='font-family:Calibri;mso-ascii-theme-font:
  major-latin;mso-hansi-theme-font:major-latin'>December 2013 &#8211; April
  2014<o:p></o:p></span></p>
  </td>
  <td width=18 rowspan=2 valign=top style='width:.25in;border:none;padding:
  0in 5.4pt 0in 5.4pt;height:7.0pt'>
  <p class=MsoNormal><span style='font-family:Calibri;mso-ascii-theme-font:
  major-latin;mso-hansi-theme-font:major-latin'><o:p>&nbsp;</o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:26;mso-yfti-lastrow:yes;height:7.0pt'>
  <td width=410 colspan=4 valign=top style='width:409.5pt;border:none;
  padding:0in 5.4pt 0in 5.4pt;height:7.0pt'>
  <p class=MsoNormal><span style='font-family:Calibri;mso-ascii-theme-font:
  major-latin;mso-hansi-theme-font:major-latin'>University of California at
  Santa Barbara<o:p></o:p></span></p>
  </td>
  <td width=167 colspan=2 valign=top style='width:166.5pt;border:none;
  padding:0in 5.4pt 0in 5.4pt;height:7.0pt'>
  <p class=MsoNormal><span style='font-family:Calibri;mso-ascii-theme-font:
  major-latin;mso-hansi-theme-font:major-latin'>September 2004 &#8211; August
  2006<o:p></o:p></span></p>
  </td>
 </tr>
 <![if !supportMisalignedColumns]>
 <tr height=0>
  <td width=18 style='border:none'></td>
  <td width=130 style='border:none'></td>
  <td width=213 style='border:none'></td>
  <td width=63 style='border:none'></td>
  <td width=5 style='border:none'></td>
  <td width=23 style='border:none'></td>
  <td width=144 style='border:none'></td>
  <td width=18 style='border:none'></td>
 </tr>
 <![endif]>
</table>

<p class=MsoNormal><span style='font-family:Calibri;mso-ascii-theme-font:major-latin;
mso-hansi-theme-font:major-latin'><o:p>&nbsp;</o:p></span></p>
</div>
</div>
            	<div class="row">
					<div class="span12">
						<h1>Single Team</h1>
						<h2 class="small">Talent is a pursued interest.<br/>Anything you are willing to practice, you can do.</h2>
					<div class="pad25"></div>
				<div class="row slideRight">
			<div class="span6">
			<img src="img/team/team_single.jpg" class="pad10" alt="" />
				<div class="pad30"></div>
				<h4><i class="line-icon icon-linepencil marg-right5"></i>My Skills</h4>
				
				<!--skill bars add your percentages add one percent more than needed-->
				<div id="bar-1" class="bar-main-container bar-grey">
					<div class="wrap clearfix">
					<div class="bar-percentage" data-percentage="91"></div>
					<div class="bar-container">
					<div class="bar"></div>
					</div>
						</div>
							</div>
							<h6 class="left"><b>WEB DESIGN</b></h6>
							
				<div id="bar-2" class="bar-main-container bar-red">
					<div class="wrap clearfix">
					<div class="bar-percentage" data-percentage="69"></div>
					<div class="bar-container">
					<div class="bar"></div>
					</div>
						</div>
							</div>
							<h6 class="left"><b>JQUERY</b></h6>
							
				<div id="bar-3" class="bar-main-container bar-dark">
					<div class="wrap clearfix">
					<div class="bar-percentage" data-percentage="96"></div>
					<div class="bar-container">
					<div class="bar"></div>
					</div>
						</div>
							</div>
						<h6 class="left"><b>GRAPHIC DESIGN</b></h6>
					</div>
						
				<div class="span6">
					<p>Mauris viverra, tortor eget interdum lacinia, lacus mi tempor purus, eu commodo enim dui ac nisl. Morbi euismod ante quis tellus imperdiet porta.</p>
					<p>Wullam ligula sapien, pharetra eget volutpat vel, consequat in lectus. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					
				<h4><i class="line-icon icon-linegraduation-cap marg-right5"></i>Education</h4>
					<ul class="icons">
						<li>Central St. Martins - London, U.K (2002-2005)</li>
						<li>London College Of Printing - London, U.K (2000-2002)</li>
					</ul>
					
				<h4><i class="line-icon icon-linelightbulb marg-right5"></i>Awards</h4>
					<ul class="icons">
						<li>D&amp;AD - For the best in creative art direction : 2010</li>
						<li>Best Award Ever - Creativity, design and integrity : 2009</li>
						<li>RCA - Design Bursary : 2008</li>
					</ul>
					
				<div class="pad45"></div>
				  <!-- CAROUSEL -->
				<div id="carousel" class="carousel slide" data-interval="false">
					<div class="carousel-inner">
					<div class="item active">
						<img src="img/team/slider1.jpg" alt="" />
					</div>
						<div class="item">
							<img src="img/team/slider2.jpg" alt="" />
						</div>
							</div>
                                <a class="left carousel-control" href="#carousel" data-slide="prev"></a>
                                <a class="right carousel-control" href="#carousel" data-slide="next"></a></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- // END -->
