
				<!-- page-->
				<div class="container">
            	<div class="row">
					<div class="span12">
						<h1>About</h1>
						<h2 class="small">A confident client will see<br/>your confidence as strength, not arrogance.</h2>
					<div class="main slideLeft">
				<ul class="cbp-ig-grid">
					<li>
						<a href="#">
							<i class="cbp-ig-icon line-icon icon-linelightbulb"></i>
						<h3 class="cbp-ig-title">CREATE</h3></a>
					</li>
					<li>
						<a href="#">
							<i class="cbp-ig-icon line-icon icon-linedesktop"></i>
						<h3 class="cbp-ig-title">DESIGN</h3></a>
					</li>
					<li>
						<a href="#">
							<i class="cbp-ig-icon line-icon icon-linebeaker"></i>
						<h3 class="cbp-ig-title">CODE</h3></a>
					</li>
				</ul>
			</div>
			
		<div class="row slideRight pad60">
			<div class="span8">
			<h4>Our Philosophy</h4>
			<p>Wullam ligula sapien, pharetra eget volutpat vel, consequat in lectus. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
			 Mauris viverra, tortor eget interdum lacinia, lacus mi tempor purus, eu commodo enim dui ac nisl. Morbi euismod ante quis tellus imperdiet porta.</p>
			<p>Wullam ligula sapien, pharetra eget  volutpat vel, consequat in lectus sed do. 
			<span class="dotted"  data-rel="tooltip" data-placement="top" title="Here is the sample of tooltip that contains three lines or more. 
			You can also add a link to it!">Here's a Tooltip</span> eiusmod tempor incididunt ut labore et dolore magna aliqua. 
			
			<a data-toggle="modal" href="#myModal" class="dotted">Launch Modal Box</a> aptent taciti sociosqu litor.
			<!-- sample modal content -->
				<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModal" aria-hidden="true">
					<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h3>Modal Heading</h3>
					</div>
					<div class="modal-body">
				<h5>Sub head</h5>
				<p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac 
				consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue 
				laoreet rutrum faucibus.</p>
				<p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. 
				Donec ullamcorper nulla non metus auctor fringilla.</p>
			</div>
				<div class="modal-footer"><button class="btn btn-colour" data-dismiss="modal">Close</button></div>
			</div> 
			<p>Mauris viverra, tortor eget interdum lacinia, lacus mi tempor purus, eu commodo enim dui ac nisl. Morbi euismod ante quis tellus imperdiet porta. 
			Mauris viverra, tortor eget interdum lacinia, lacus mi tempor purus, eu commodo enim dui ac nisl. Morbi euismod ante quis tellus imperdiet porta.</p>
		<div class="pad25"></div>
	</div>
	
		<div class="span4">
			<h4>Mission</h4>
			<p>Mauris viverra, tortor eget interdum lacinia, lacus mi tempor purus, eu commodo enim dui ac nisl. Morbi euismod ante quis tellus imperdiet porta.</p>
			<h5>Sub head</h5>
			<ul class="icons">
				<li><i class="icon-star red"></i> Responsive Design</li>
				<li><i class="icon-ok red"></i> One font, 249 icons</li>
				<li><i class="icon-bookmark red"></i> Powerful front-end framework</li>
				<li><i class="icon-picture red"></i> Built with Twitter Bootstrap</li>
			</ul>
			<div class="pad25"></div>
		</div>
			</div>
			
			<div class="pad30">	</div>
			
			
			<!-- LATEST WORK -->   
				<div class="container"><div class="row">
				<h3 class="line center">Latest Projects</h3>
				<div class="span12 center pad45">
				<div id="zoom_latest" class="dzsportfolio skin-clean">
				<div class="preloader"></div>
				<div class="items">
					
			<!-- project 1 -->
			<div class="portitem-tobe" data-link="#" data-bigimage="img/portfolio/1l.jpg" data-thumbnail="img/portfolio/1.jpg">
				<div class="the-title">Simple Link</div>
				<div class="the-desc">Sub Head</div>
			</div>
			
			<!-- project 2 -->
			<div class="portitem-tobe" data-bigimage="img/portfolio/9l.jpg" data-thumbnail="img/portfolio/9.jpg">
				<div class="the-title">Single Image</div>
				<div class="the-desc">Sub Head</div>
				<div class="the-content">
				<div class="row">
					<div class="span6">
					<img src="img/portfolio/9l.jpg" alt="" />
					</div>
				<div class="span6 project-meta-con">
                    <div class="project-title">Single Image</div>
						<ul class="icons">
							<li><i class="icon-desktop red"></i> Web Design</li>
							<li><i class="icon-lightbulb red"></i> Visual Concept</li>
							<li><i class="icon-globe red"></i> Web Hosting</li>
							<li><i class="icon-link red"></i> <a class="dotted" href="#">www.greatsite.com</a></li>
						</ul>
					<div class="pad15"></div> 
					<p>Proin laoreet venenatis augue, eu commodo ligula fermentum at vestibulum ante ipsum primis in faucibus. Cum discere aliquando posidonium te, nam nullam.</p>
					<p>Suspendisse tempor leo at massa laoreet vel tincidunt leo molestie. Proin tristique accumsan nisl, quis sollicitudin urna ullamcorper  posuere cubilia curae vel. 
					Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse potenti vivamus purus.</p>             						
				</div>
				</div>
			</div>
				</div>
				
			<!-- project 3 -->
			<div class="portitem-tobe" data-bigimage="img/portfolio/14.jpg" data-thumbnail="img/portfolio/14.jpg">
			<div class="the-title">Video Project</div>
			<div class="the-desc">Sub Head</div>
			<div class="the-content">
            <div class="row">
				<div class="span6">
				<div class="vendor">
            <iframe src="http://player.vimeo.com/video/68997873?title=0&amp;byline=0&amp;portrait=0"></iframe>
          </div>
			</div>
              <div class="span6 project-meta-con">
                    <div class="project-title">Video Project</div>
						<ul class="icons">
							<li><i class="icon-facetime-video red"></i> Video</li>
							<li><i class="icon-lightbulb red"></i> Visual Concept</li>
							<li><i class="icon-link red"></i> <a class="dotted" href="#">www.greatsite.com</a></li>
						</ul>
					<div class="pad15"></div> 
					<p>Proin laoreet venenatis augue, eu commodo ligula fermentum at vestibulum ante ipsum primis in faucibus. Cum discere aliquando posidonium te, nam nullam.</p>
					<p>Suspendisse tempor leo at massa laoreet vel tincidunt leo molestie. Proin tristique accumsan nisl, quis sollicitudin urna ullamcorper  posuere cubilia curae vel. 
					Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse potenti vivamus purus.</p>             						
				</div>
				</div>
			</div>
				</div>
					
			<!-- project 4 -->
			<div class="portitem-tobe" data-bigimage="img/portfolio/2l.jpg" data-thumbnail="img/portfolio/2.jpg">
			<div class="the-title">Slider Project</div>
			<div class="the-desc">Sub Head</div>
			<div class="the-content">
            <div class="row">
				<div class="span6">
                    <div id="carousel" class="carousel slide" data-interval="false">
					<div class="carousel-inner">
					<div class="item active">
						<img src="img/portfolio/2l.jpg" alt="" />
					</div>
						<div class="item">
							<img src="img/portfolio/1l.jpg" alt="" />
						</div>
					<div class="item">
							<img src="img/portfolio/7l.jpg" alt="" />
						</div>
							</div>
                                <a class="left carousel-control" href="#carousel" data-slide="prev"></a>
                                <a class="right carousel-control" href="#carousel" data-slide="next"></a>
                          </div>
                    </div>
				<div class="span6 project-meta-con">
                    <div class="project-title">Slider Project</div>
						<ul class="icons">
							<li><i class="icon-desktop red"></i> Web Design</li>
							<li><i class="icon-lightbulb red"></i> Visual Concept</li>
							<li><i class="icon-globe red"></i> Web Hosting</li>
							<li><i class="icon-link red"></i> <a class="dotted" href="#">www.greatsite.com</a></li>
						</ul>
					<div class="pad15"></div> 
					<p>Proin laoreet venenatis augue, eu commodo ligula fermentum at vestibulum ante ipsum primis in faucibus. Cum discere aliquando posidonium te, nam nullam.</p>
					<p>Suspendisse tempor leo at massa laoreet vel tincidunt leo molestie. Proin tristique accumsan nisl, quis sollicitudin urna ullamcorper  posuere cubilia curae vel. 
					Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse potenti vivamus purus.</p>             						
				</div>
				</div>
			</div>
				</div>
					</div>
					</div>
				</div> 
			</div>
		</div>
		
		
		<div class="pad45"></div>

		
	</div>
		</div>
			</div>
				</div>	
				<div class="container">
            	<div class="row">
					<div class="span12">
						<h1>Single Team</h1>
						<h2 class="small">Talent is a pursued interest.<br/>Anything you are willing to practice, you can do.</h2>
					<div class="pad25"></div>
				<div class="row slideRight">
			<div class="span6">
			<img src="img/team/team_single.jpg" class="pad10" alt="" />
				<div class="pad30"></div>
				<h4><i class="line-icon icon-linepencil marg-right5"></i>My Skills</h4>
				
				<!--skill bars add your percentages add one percent more than needed-->
				<div id="bar-1" class="bar-main-container bar-grey">
					<div class="wrap clearfix">
					<div class="bar-percentage" data-percentage="91"></div>
					<div class="bar-container">
					<div class="bar"></div>
					</div>
						</div>
							</div>
							<h6 class="left"><b>WEB DESIGN</b></h6>
							
				<div id="bar-2" class="bar-main-container bar-red">
					<div class="wrap clearfix">
					<div class="bar-percentage" data-percentage="69"></div>
					<div class="bar-container">
					<div class="bar"></div>
					</div>
						</div>
							</div>
							<h6 class="left"><b>JQUERY</b></h6>
							
				<div id="bar-3" class="bar-main-container bar-dark">
					<div class="wrap clearfix">
					<div class="bar-percentage" data-percentage="96"></div>
					<div class="bar-container">
					<div class="bar"></div>
					</div>
						</div>
							</div>
						<h6 class="left"><b>GRAPHIC DESIGN</b></h6>
					</div>
						
				<div class="span6">
					<p>Mauris viverra, tortor eget interdum lacinia, lacus mi tempor purus, eu commodo enim dui ac nisl. Morbi euismod ante quis tellus imperdiet porta.</p>
					<p>Wullam ligula sapien, pharetra eget volutpat vel, consequat in lectus. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					
				<h4><i class="line-icon icon-linegraduation-cap marg-right5"></i>Education</h4>
					<ul class="icons">
						<li>Central St. Martins - London, U.K (2002-2005)</li>
						<li>London College Of Printing - London, U.K (2000-2002)</li>
					</ul>
					
				<h4><i class="line-icon icon-linelightbulb marg-right5"></i>Awards</h4>
					<ul class="icons">
						<li>D&amp;AD - For the best in creative art direction : 2010</li>
						<li>Best Award Ever - Creativity, design and integrity : 2009</li>
						<li>RCA - Design Bursary : 2008</li>
					</ul>
					
				<div class="pad45"></div>
				  <!-- CAROUSEL -->
				<div id="carousel" class="carousel slide" data-interval="false">
					<div class="carousel-inner">
					<div class="item active">
						<img src="img/team/slider1.jpg" alt="" />
					</div>
						<div class="item">
							<img src="img/team/slider2.jpg" alt="" />
						</div>
							</div>
                                <a class="left carousel-control" href="#carousel" data-slide="prev"></a>
                                <a class="right carousel-control" href="#carousel" data-slide="next"></a></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- // END -->
