
  <!-- REVOLUTION SLIDER -->
  <div class="fullwidthbanner-container">
    <div class="fullwidthbanner">
      <!-- Slide 1 -->
      <ul>
        <li data-transition="fade">
          <img src="http://charlienuttall.blob.core.windows.net/images/slider/slider7.jpg" alt="" />
          <div class="caption lfl stl  bg1" data-x="center" data-y="120" data-speed="800" data-start="700" data-easing="easeOutExpo">
            <h3 class="rev-title big bold">CHARLIE NUTTALL</h3>
          </div>

          <div class="caption lfl stl rev-title-sub bg" data-x="center" data-y="280" data-speed="800" data-start="1100" data-easing="easeOutExpo">
            Web Developer
          </div>

          <div class="caption sfb" data-x="center" data-y="390" data-speed="1100" data-start="1500" data-easing="easeOutExpo">
            
          </div>
        </li>

        <!-- Slide 2 -->
        <li data-transition="fade" data-slotamount="10" data-masterspeed="300">
          <img src="http://charlienuttall.blob.core.windows.net/images/slider/slider2.jpg" alt="" />

          <!-- Caption -->
          <div class="caption lfl stl bg rev-left" data-x="left" data-y="60" data-speed="800" data-start="700" data-easing="easeOutExpo">
            <h2 class="rev-title big">Back-End Development and Database Design</h2>
          </div>

          <!-- Caption -->
          <div class="caption lfl stl rev-text rev-left" data-x="left" data-y="190" data-speed="800" data-start="1100" data-easing="easeOutExpo">
            <p>Ruby, Rails, MySql, PostgreSQL, JavaScript
              <br /><br /><br />See some of my selected work
          </div>

          <!-- Caption -->
          <div class="caption sfb stb rev-left" data-x="left" data-y="380" data-speed="1100" data-start="1500" data-easing="easeOutExpo">
            &nbsp;&nbsp;
            <a class="btn btn-colour phone-marg hidden-phone" href="/portfolio">Portfolio</a>
          </div>

          <!-- Caption -->
          <div class="caption sfb stb rev-right" data-x="right" data-y="bottom" data-speed="1100" data-start="300" data-easing="easeInQuad">
            <img src="http://charlienuttall.blob.core.windows.net/images/slider/iphone.png" alt="" />
          </div>
        </li>

        <!-- Slide 3 -->
        <li data-transition="slidedown" data-slotamount="10" data-masterspeed="300">
          <img src="http://charlienuttall.blob.core.windows.net/images/slider/slider4.jpg" alt="" />

          <div class="caption fade"  data-speed="900" data-start="500" data-easing="easeOutBack">

          <div class="tp-caption lfl" data-x="right" data-y="35" data-speed="1000" data-start="800" data-easing="easeOutExpo">
            <img src="http://charlienuttall.blob.core.windows.net/images/slider/figures.png" alt="" />
          </div>

            <!-- Caption -->
          <div class="caption lfl stl bg rev-left" data-x="left" data-y="60" data-speed="800" data-start="700" data-easing="easeOutExpo">
            <h2>Creative Slider<br>It's A Revolution!</h2>
          </div>

          <!-- Caption -->
          <div class="caption lfl stl rev-text rev-left" data-x="left" data-y="190" data-speed="800" data-start="1100" data-easing="easeOutExpo">
            <p style='color: black'>Turn simple HTML code into a responsive slider
              <br />with must-see-effects, it's Slider Revolution!
              <br />There's also psd files of the iphone & macbook
              <br />to add your own screenshots to, get creative!</p>
          </div>

          <!-- Caption -->
          <div class="caption sfb stb rev-left" data-x="left" data-y="380" data-speed="1100" data-start="1500" data-easing="easeOutExpo">
            <a class="btn btn-colour mobile phone-marg" href="/about">about</a>&nbsp;&nbsp;
            <a class="btn btn-colour phone-marg hidden-phone" href="/blog">blog</a>
          </div>

          <!-- Caption -->
          
        </li>
        </li>

        <!-- Slide 4 -->
        <li data-transition="fade" data-slotamount="7" data-masterspeed="300">
          <img src="http://charlienuttall.blob.core.windows.net/images/slider/slider5.jpg" alt="" />

          

          <div class="caption lfl stl bold bg rev-left" data-x="left" data-y="80" data-speed="800" data-start="1500" data-easing="easeOutExpo">
            <h3 class="rev-title big bold">get in touch</h3>
          </div>

          <!-- Caption -->
          <div class="caption lfl stl rev-text rev-left" data-x="left" data-y="190" data-speed="800" data-start="1700" data-easing="easeOutExpo">
            <p class="white">
          </div>

          <div class="caption sfb rev-title medium-white" data-x="20" data-y="360" data-speed="800" data-start="1900" data-easing="easeOutExpo">
            <b>charlie@charlienuttall.com</b><br>
            <a class="btn btn-colour phone-marg hidden-phone" href="#">contact</a>
          </div>


          <div class="tp-caption sft" data-x="672" data-y="330" data-speed="700" data-start="1500" data-easing="easeOutBack">
            <img src="" alt="" />
          </div>
        </li>
      </ul>
      <div class="tp-bannertimer tp-bottom"></div>
    </div>
  </div>
  <!-- // END REVOLUTION SLIDER -->

  <!-- <div class="container">
    <div class="row">
      <div class="span3 center">
        <div class="hi-icon-wrap hi-icon-effect">
          <h3>in the details</h3>
          <p>Few can name an umpteen ferryboat that isn't an ansate plain. A bait is a distance's helium. A window sees a newsprint as a jetting playground. Some posit the squamate selection.</p>
          <a class="btn btn-colour-red" href="#">about</a>
        </div>
      </div>

      <div class="span3 center">
        <div class="hi-icon-wrap  hi-icon-effect">
          <h3>tip-top coding</h3>
          <p>Few can name an umpteen ferryboat that isn't an ansate plain. A bait is a distance's helium. A window sees a newsprint as a jetting playground. Some posit the squamate selection.</p>
          <a class="btn btn-colour-red" href="#">team</a>
        </div>
      </div>

      <div class="span3 center">
        <div class="hi-icon-wrap hi-icon-effect">

          <h3>quality design</h3>
          <p>Few can name an umpteen ferryboat that isn't an ansate plain. A bait is a distance's helium. A window sees a newsprint as a jetting playground. Some posit the squamate selection.</p>
          <a class="btn btn-colour-red" href="#">work</a>
        </div>
      </div>

      <div class="span3 center">
        <div class="hi-icon-wrap hi-icon-effect">

          <h3>happy clients</h3>
          <p>Few can name an umpteen ferryboat that isn't an ansate plain. A bait is a distance's helium. A window sees a newsprint as a jetting playground. Some posit the squamate selection.</p>
          <a class="btn btn-colour-red" href="#">quote</a>
        </div>
      </div>
    </div>
  </div> -->
  <!-- FEATURE STRIP -->
  <div class="strip">
    Backend Web Development and Database Design
    <span class="marg-left10"></span>
    <a class="btn btn-colour-red" href="/contact">CONTACT ME</a>
  </div>
  <!-- // FEATURE STRIP -->

 