
				<div class="container">
					<div class="row">
						<div class="span12">
					<h1>Blog</h1>
				<h2 class="small">A confident client will see<br/>your confidence as strength, not arrogance.</h2>
			<div class="row">
		<div class="span9">
			<div class="pad20"></div>
		<!--post-->
			<div class="hover_img">
				<a href="img/blog/1a.jpg" data-rel="prettyPhoto"><img src="img/blog/1a.jpg" alt=""/></a>
			</div>
			<h4><i class="icon-picture red"></i> <b>30-08-13</b></h4>
			<h1 class="blog"><a href="blog_post.html">See smoke or fire, or some such evidence</a></h1>
			<p>Enim ultrices, elementum phasellus. Mauris sed nulla sed, egestas feugiat a dictum libero, nunc sapien tri tique facilisis venenatis risus, 
			suspendisse ac nec et. Nulla sed mauris, congue duis proin nonummy adipiscing vitae  Mauris sed nulla sed, egestas feugiat a dictum libero, nunc sapien 
			tristique facilisis venenatis risus. Enim ultrices, elementum phasellus.</p>
			<div class="post-meta muted">
			<ul>
				<li>Posted by <a href="#">admin</a> </li>
				<li>in <a href="#">web</a>, <a href="#">graphics</a></li>
				<li>tags <a href="#">prints</a>, <a href="#">design</a></li>
			</ul>
			</div>
			<h4><a href="#"><b>READ &rarr;</b></a></h4>
			<!--end post-->
			
			<div class="pad30"></div>

			
				<div class="clearfix"></div>
			</div>
			<!--end pagination-->
			<!--end column-->
			
			<!--sidebar-->
			<div class="sidebar span3">
			<h4>Text Widget</h4>
			 Feugiat a dictum libero, nunc sapien tristique facilisis venenatis risus. Enim ultrices, elementum phasellus. Mauris sed nulla sed, egestas feugiat a dictum libero, 
			nunc sapien tristique. Quisque ligulas ipsum, euismod atras vulputate iltricies etri elit.
			
			</div>
				</div>
					</div>
						</div>
					</div>
				<!--end-->
