
				<div class="container">
					<div class="row">
						<div class="span12">
					<h1>Blog</h1>
				<h2 class="small">A confident client will see<br/>your confidence as strength, not arrogance.</h2>
			<div class="row">
		<div class="span9">
			<div class="pad20"></div>
		<!--post-->
			<% @blogs.each do |blog| %>
			<h4><b><%= blog.created_at.to_date %></b></h4>
			<h1 class="blog"><a href="blog/<%= blog.id %>"><%= blog.title %></a></h1>
			<p><%= blog.text %></p>
			<div class="post-meta muted">
			<ul>
				<li>Posted by Charlie</a> </li>
			</ul>
			</div>
			<h4><a href="blog/<%= blog.id %>"><b>READ &rarr;</b></a></h4>
			<!--end post-->
			<% end %>
			
			<div class="pad30"></div>

			
				<div class="clearfix"></div>
			</div>
			<!--end pagination-->
			<!--end column-->
			
			<!--sidebar-->
			<div class="sidebar span3">
			<h4>Hello!</h4>
			 Welcome to my blog. Here I will be posting more about me, and my path to becoming a developer.
			</div>
				</div>
					</div>
						</div>
					</div>
				<!--end-->
