<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>PARIS | responsive bootstrap html5 template | themeforest | josweb</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">

<!-- Google Fonts -->
<link href='http://fonts.googleapis.com/css?family=Lato:400,700,300' rel='stylesheet' type='text/css'>
<!--[if IE]>
	<link href="http://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
	<link href="http://fonts.googleapis.com/css?family=Lato:400" rel="stylesheet" type="text/css">
	<link href="http://fonts.googleapis.com/css?family=Lato:700" rel="stylesheet" type="text/css">
	<link href="http://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet" type="text/css">
<![endif]-->

<link rel="stylesheet" type="text/css" media="screen" href="css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" media="screen" href="css/style.css" />
<link href="css/prettyphoto.css" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" type="text/css" media="screen" href="css/font-awesome.min.css" />
<link rel="stylesheet" type="text/css" media="screen" href="css/fontello.css" />



<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<!--[if IE 7]>
<link rel="stylesheet" href="css/font-awesome-ie7.min.css">
<link rel="stylesheet" href="css/fontello-ie7.css">
<![endif]-->
</head>
<body>
	<header class="header">
		<!--logo-->
			<div class="container">
			<div class="row">
				<div class="span12">
					<div class="navbar">
					<!--logo-->			
					<div class="logo">
						 <a href="index.html"><img src="img/logo.png" alt="" /></a>  
					</div>
					<!--menu-->	
					<a class="menu-link" href="#menu"><i class="icon-reorder white"></i></a>  
					<nav id="menu2" class="menu">
					<ul>
						<li class="has-submenu">
						<a href="#">Home</a> 
						<ul class="sub-menu">
							<li><a href="index.html">Revolution Captions</a></li>
							<li><a href="index_slides.html">Revolution Slides</a></li>
							<li><a href="index_single.html">Single Image</a></li>
							<li><a href="index_video.html">Single Video</a></li>
							<li><a href="alt_index.html">Alternative Index</a></li>
						</ul>
							</li>
							<li class="has-submenu">
							<a href="#">Pages</a>
						<ul class="sub-menu">
							<li><a href="about.html">About</a></li>
							<li><a href="team.html">The Team</a></li>
							<li><a href="team_member.html">Team Member</a></li>
							<li><a href="services.html">Services</a></li>
							<li><a href="pricing.html">Pricing Tables</a></li>
							<li><a href="dribbble.html">Dribbble Photostream</a></li>
							<li><a href="full_width.html">Full Width</a></li>
							<li><a href="sidebar.html">Sidebar</a></li>
							<li><a href="404.html">404 Page</a></li>
						</ul>
							</li>
							<li class="has-submenu">
							<a href="#">Work </a>
							<ul class="sub-menu">
								<li><a href="portfolio1.html">Sorting Gallery</a></li>
								<li><a href="portfolio2.html">Sorting With Links</a></li>
								<li><a href="portfolio3.html">Gallery Links</a></li>
								<li><a href="portfolio4.html">Sliding Captions</a></li>
								<li><a href="case_study.html">Case Study</a></li>
								<li class="has-submenu">
								<a href="#">Single Pages &raquo;</a>
							<ul>
								<li><a href="single_slider.html">Single Slider</a></li>
								<li><a href="single_video.html">Single Video</a></li>
								<li><a href="single_image.html">Single Image</a></li>
							</ul>
								<li><a href="full_slider.html">Full Slider</a></li>
								<li><a href="full_video.html">Full Video</a></li>
								<li><a href="parallax.html">Parallax</a></li>
								<li><a href="parallax_header.html">Parallax Header</a></li>
							</ul>
							</li>
							<li class="has-submenu">
							<a href="#">Blog </a>
							<ul class="sub-menu">
								<li><a href="blog.html">Blog</a></li>
								<li><a href="blog_post.html">Blog Post</a></li>
								<li><a href="blog_two.html">Blog II</a></li>
								<li><a href="blog_post2.html">Blog Post II</a></li>
							</ul>
							</li>
							<li class="has-submenu-no"><a href="contact.html">Contact</a></li>
						<li class="has-submenu">
							<a href="#">Styles</a>
							<ul class="sub-menu">
								<li><a href="columns.html">Columns</a></li>
								<li><a href="icons.html">Retina Icons</a></li>
								<li><a href="icons2.html">Line Icons</a></li>
								<li><a href="elements.html">Elements</a></li>
							</ul>
							</li>
						</ul>
						</nav>
					</div>
					</div>
					</div>
						</div>
							</header>
							<!--//header-->
							
							<!-- sticky header-->
							<header class="header sticky hidden-phone hidden-tablet">
						<div class="container">
					<div class="row">
				<div class="span12">
					<div class="navbar">
					<!--logo-->			
					<div class="logo-sticky">
						 <a href="index.html"><img src="img/diamond.png" alt="" /></a>  
					</div>
					<!--menu-->	
					<nav id="menu" class="menu menu-sticky">
					<ul>
						<li class="has-submenu">
						<a href="#">Home</a> 
						<ul class="sub-menu">
							<li><a href="index.html">Revolution Captions</a></li>
							<li><a href="index_slides.html">Revolution Slides</a></li>
							<li><a href="index_single.html">Single Image</a></li>
							<li><a href="index_video.html">Single Video</a></li>
							<li><a href="alt_index.html">Alternative Index</a></li>
						</ul>
							</li>
							<li class="has-submenu">
							<a href="#">Pages</a>
						<ul class="sub-menu">
							<li><a href="about.html">About</a></li>
							<li><a href="team.html">The Team</a></li>
							<li><a href="team_member.html">Team Member</a></li>
							<li><a href="services.html">Services</a></li>
							<li><a href="pricing.html">Pricing Tables</a></li>
							<li><a href="dribbble.html">Dribbble Photostream</a></li>
							<li><a href="full_width.html">Full Width</a></li>
							<li><a href="sidebar.html">Sidebar</a></li>
							<li><a href="404.html">404 Page</a></li>
						</ul>
							</li>
							<li class="has-submenu">
							<a href="#">Work </a>
							<ul class="sub-menu">
								<li><a href="portfolio1.html">Sorting Gallery</a></li>
								<li><a href="portfolio2.html">Sorting With Links</a></li>
								<li><a href="portfolio3.html">Gallery Links</a></li>
								<li><a href="portfolio4.html">Sliding Captions</a></li>
								<li><a href="case_study.html">Case Study</a></li>
								<li class="has-submenu">
								<a href="#">Single Pages &raquo;</a>
							<ul>
								<li><a href="single_slider.html">Single Slider</a></li>
								<li><a href="single_video.html">Single Video</a></li>
								<li><a href="single_image.html">Single Image</a></li>
							</ul>
								<li><a href="full_slider.html">Full Slider</a></li>
								<li><a href="full_video.html">Full Video</a></li>
								<li><a href="parallax.html">Parallax</a></li>
								<li><a href="parallax_header.html">Parallax Header</a></li>
							</ul>
							</li>
							<li class="has-submenu">
							<a href="#">Blog </a>
							<ul class="sub-menu">
								<li><a href="blog.html">Blog</a></li>
								<li><a href="blog_post.html">Blog Post</a></li>
								<li><a href="blog_two.html">Blog II</a></li>
								<li><a href="blog_post2.html">Blog Post II</a></li>
							</ul>
							</li>
							<li class="has-submenu-no"><a href="contact.html">Contact</a></li>
						<li class="has-submenu">
							<a href="#">Styles</a>
							<ul class="sub-menu">
								<li><a href="columns.html">Columns</a></li>
								<li><a href="icons.html">Retina Icons</a></li>
								<li><a href="icons2.html">Line Icons</a></li>
								<li><a href="elements.html">Elements</a></li>
							</ul>
							</li>
						</ul>
						</nav>
					</div>
				</div>
				</div>
				</div>
				</header>
				  <!-- // header -->
				
				<div class="container">
					<div class="row">
						<div class="span12">
							<h1>Blog</h1>
								<h2 class="small">A confident client will see<br/>your confidence as strength, not arrogance.</h2>
								<div class="row">
							<div class="span9">
						<div class="pad20"></div>
					<!--post-->
				<img src="img/blog/blog_single.jpg" alt="" />
			<h4><i class="icon-picture red"></i> <b>30-08-13</b></h4>
			<h1 class="blog">See smoke or fire, or some such evidence</h1>
			<p>These heavy minute-guns following one another that I so far forgot my personal safety and my scalded hands as to clamber up into the hedge and stare towards Sunbury.  
			As I did so a second report followed, and a big projectile hurtled overhead.</p>
			
			<ul class="icons">
				<li><i class="line-icon icon-linestar red"></i> These hill-like forms grew lower and broader even as we stared.</li>
				<li><i class="line-icon icon-linestar red"></i> As I did so a second report followed, and a big projectile hurtled overhead.</li>
				<li><i class="line-icon icon-linestar red"></i> The figure of the Martian grew smaller as he receded, and presently the mist.</li>
			</ul>
			<br/>
			<blockquote>Now at the time we could not understand these things, but later I was to learn the meaning of these ominous kopjes that gathered in the twilight. 
			Each of the Martians, standing in the great crescent I have described, had discharged.</blockquote>
			
			<p>Now at the time we could not understand these things, but later I was to learn the meaning of these ominous kopjes that gathered in the twilight. 
			Each of the Martians, standing in the great crescent I have described, had discharged, by means of the gunlike tube he carried, a huge canister over whatever hill, 
			copse, cluster of houses, or other possible cover for guns.</p>
			
			<p class="pad5">
			<a href="#" class="btn btn-colour"><i class="icon-eye-open white"></i> Preview</a> 
			<a href="#" class="btn btn-colour"><i class="icon-download-alt white"></i> Download</a></p>
			
			<div class="post-meta muted">
			<ul>
				<li>Posted by <a href="#">admin</a> </li>
				<li>in <a href="#">web</a>, <a href="#">graphics</a></li>
				<li>tags <a href="#">prints</a>, <a href="#">design</a></li>
			</ul>
			</div>
			
			<!--author box-->
			<div class="pad15"></div>
			<div class="well">
			<img src="img/blog/author.jpg" class="pull-left pad20" alt="" />
			<h4><b>About The Author</b></h4>
			<p>Every moment I expected the fire of some hidden battery to spring upon him; but the evening calm was unbroken. The figure of the Martian grew smaller as 
			he receded, and presently the mist and the gathering. hiding our view of the farther country; and then, remoter across the river, over Walton.</p>
			</div>
			
			<div class="pad15"></div>
				<h3>related posts</h3>
				
				<div class="row pad15 ">
				<div class="span3">
				<div class="hover_img">
				<a href="img/portfolio/sidebar_slider1.jpg" data-rel="prettyPhoto"><img src="img/portfolio/sidebar_slider1.jpg" alt=""/></a>
				</div>
				<h6><i class="icon-time muted marg-right5"></i> 30/08/13 <i class="icon-comments muted marg-left5"></i> <a href="#"> 18</a><br/>
				<a href="#">Donec Iaculis Metus Vitae Ligula</a></h6>
			 </div>
				
				<div class="span3">
				<div class="hover_img">
				<a href="img/portfolio/sidebar_slider2.jpg" data-rel="prettyPhoto" class="hover_colour"><img src="img/portfolio/sidebar_slider2.jpg" alt="" /></a>
				</div>
				<h6><i class="icon-time muted muted marg-right5"></i> 23/08/13 <i class="icon-comments muted marg-left5 "></i> <a href="#"> 8</a><br/>
				<a href="#">Aliquam Convallis Erat Enim</a></h6>
			 </div>
		
				<div class="span3">
				<div class="hover_img">
				<a href="img/portfolio/sidebar_slider3.jpg" data-rel="prettyPhoto"><img src="img/portfolio/sidebar_slider3.jpg" alt=""/></a>
				</div>
				<h6><i class="icon-time muted muted marg-right5"></i> 20/08/13 <i class="icon-comments muted marg-left5"></i> <a href="#"> 2</a><br/>
				<a href="#">Mauris Sed Nulla Sed Egestas</a></h6>
			 </div>
		</div>
		<div class="pad30"></div>
	
		<!-- Comments -->   
				<h3><a href="#"><b>3</b></a> comments</h3>
		<!--Comment 1-->
			<div class="media pad15">
              <a class="pull-left" href="#">
                <img src="img/blog/avatar1.jpg" alt="" class="marg-top10"/></a>
              <div class="media-body">
                <p class="media-heading">
				<a href="#">Chris Novak</a> 27 August 2013 <a href="#"><i class="icon-mail-forward"></i></a></p>
				Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. 
		<!--Comment 2-->      
				<div class="media">
                  <a class="pull-left" href="#">
                    <img src="img/blog/my_avatar.jpg" alt="" class="marg-top10"/></a>
                  <div class="media-body">
                    <p class="media-heading">
					<a href="#">Admin</a> 30 August 2013 <a href="#"><i class="icon-mail-forward"></i></a></p>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, 
					vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue 
					felis in faucibus.
                  </div>
				  </div>
				  </div>
		<!--Comment 3-->
            <div class="media">
              <a class="pull-left" href="#">
                <img src="img/blog/avatar2.jpg" alt="" class="marg-top10"/></a>
              <div class="media-body">
                <p class="media-heading">
				<a href="#">Lauren Williams</a> 1 August 2013 <a href="#"><i class="icon-mail-forward "></i></a></p>
				Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, 
				tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus. Enim ultrices, elementum phasellus. 
				
				</div>
			</div>
				</div>
					<!-- //Comments -->
					<div class="pad45"></div>
					
			<!-- Comment form -->
				<h3>Leave a Comment</h3>
					<div class="contact_form pad15">  
					<form id="ajax-contact-form">
					<p class="form_info">name <span class="required">*</span></p>
					<input class="span7" type="text" name="name" value="" />
					<p class="form_info">email <span class="required">*</span></p>
					<input class="span7" type="text" name="email" value=""  />
					<p class="form_info">message</p>
					<textarea name="message" id="message" class="span9" ></textarea>
					<input type="submit" class="btn  btn-large btn-primary marg-right5 hue" value="submit" />
				</form>
			</div>
		</div>
			<!--end column-->
			
			<!--sidebar-->
			<div class="sidebar span3">
			<h4>Text Widget</h4>
			 Feugiat a dictum libero, nunc sapien tristique facilisis venenatis risus. Enim ultrices, elementum phasellus. Mauris sed nulla sed, egestas feugiat a dictum libero, 
			nunc sapien tristique. Quisque ligulas ipsum, euismod atras vulputate iltricies etri elit.
			<div class="pad25"></div> 
			<!--search-->
				<form id="custom-search-form">
				<div class="input-append ">
				<input type="text" class="search-query-blog span2" placeholder="search">
				<button><i class="line-icon icon-linesearch icon-2x"></i></button>
				</div>
				</form>
			
			<h4>Categories</h4>
			<ul class="icons">
				<li class="marg-left-minus5"><i class="icon-angle-right  "></i><a href="#">Design News</a></li>
				<li class="marg-left-minus5"><i class="icon-angle-right"></i><a href="#">Typography</a></li>
				<li class="marg-left-minus5"><i class="icon-angle-right"></i><a href="#">Premium Themes</a></li>
				<li class="marg-left-minus5"><i class="icon-angle-right"></i><a href="#">Photography</a></li>
				<li class="marg-left-minus5"><i class="icon-angle-right"></i><a href="#">Graphics</a></li>
			</ul>
			<div class="pad25"></div>
			
			<h4>Popular Posts</h4>
				<ul class="media-list blog">
					<li>
						<img class="pull-left pad10" src="img/blog/pop1.jpg" alt="" />
						<small>09-09-13</small><br/>
						<a href="#">Aliquam convallis erat a enim</a>
					</li>
					<li>
						<img class="pull-left pad10" src="img/blog/pop2.jpg" alt="" />
						<small>01-09-13</small><br/>
						<a href="#">Elementum phasellus feugiat</a>
					</li>
					<li>
						<img class="pull-left pad10" src="img/blog/pop3.jpg" alt="" />
						<small>30-08-13</small><br/>
						<a href="#">Mauris sed nulla sed</a>
					</li>
				</ul>
					<div class="pad15"></div>
					
			<h4>Tags</h4>
				<span class="badge"><a href="#">art</a> 2</span>
				<span class="badge"><a href="#">design</a> 26</span>
				<span class="badge"><a href="#">themes</a> 29</span> 
				<span class="badge"><a href="#">freebies</a> 75</span> 
				<span class="badge"><a href="#">photoshop</a> 46</span>  
				<span class="badge"><a href="#">web design</a> 17</span>  
				<span class="badge"><a href="#">typography</a> 3</span> 
			<div class="pad30"></div>
					
			
			</div>
				</div>
					</div>
						</div>
					</div>
				<!--end-->

