
				<!-- Google Map -->
  <% if flash[:notice] %>
    <div class="alert alert-success"><%= flash[:notice] %></div>  
  <% end %>
			
        <!-- // End Google Map -->	
            <div class="container">
            	<div class="row">
					<div class="span12">
					<h1>Get In Touch</h1>
					<h2 class="small">It's the little details that are vital.<br/>
					Little things make big things happen.</h2>
					
				<div class="row pad25">
					<div class="span4">
						<p><b>Do you need a website, have a question or comment?</b></p> 
						<p>Please feel free to send us an email or fill in our handy contact form. We aim to reply within 24 hours.</p>
						<p>
							<b>Contact Information</b><br>
							Paris Studios<br>
							23 Mornington Crescent,<br>
							Camden High Street,<br>
							London<br>
							NW1 7JE
						</p>
						
					<ul class="icons">
						<li><i class="icon-envelope"></i> <a class="dotted" href="mailto:#">name@example.com</a></li>
						<li><i class="icon-globe"></i> <a class="dotted" href="#">www.example.com</a></li>
						<li><i class="icon-phone"></i> +44 020 2345 1987</li>
					</ul>
						<div class="pad15"> </div>
						<a href="#"><i class="icon-twitter marg-left5"></i></a>
						<a href="#"><i class="icon-facebook marg-left5"></i></a>
						<a href="#"><i class="icon-dribbble marg-left5"></i></a>
						<a href="#"><i class="icon-linkedin marg-left5"></i></a>
						<a href="#"><i class="icon-google-plus marg-left5"></i></a>
						<a href="#"><i class="icon-linkedin marg-left5"></i></a>
					 </div>
					
					<div class="span8">
				<div class="contact_form">  
			<div id="note"></div>
		<div id="fields">
    <% if @added != nil %>
      <%= render :partial => 'thanks' %>
    <% else %>
      <%= render :partial => 'form' %>
	 <%end%>
  </div>
</div> 
	</div>
		</div>
			</div>
            	</div>
            </div>
		<!-- // END -->	

</body>
</html>
