
				<!-- Google Map -->
  <% if flash[:notice] %>
    <div class="alert alert-success"><%= flash[:notice] %></div>  
  <% end %>
			
        <!-- // End Google Map -->	
            <div class="container">
            	<div class="row">
					<div class="span12">
					<h1>Get In Touch</h1>
					<h2 class="small">It's the little details that are vital.<br/>
					Little things make big things happen.</h2>
					
				<div class="row pad25">
					<div class="span4">
						<p><b>Do you need a website, have a question or comment?</b></p> 
						<p>Please feel free to send us an email or fill in this handy contact form. We aim to reply within 24 hours.</p>
						<p>
							<b>Contact Information</b><br>
							Charlie Nuttall<br>
							San Francisco, CA<br>
							94131
						</p>
						
					<ul class="icons">
						<li><i class="icon-envelope"></i> <a class="dotted" href="mailto:charlie@charlienuttall.com">charlie@CharlieNuttall.com</a></li>
						<li><i class="icon-globe"></i> <a class="dotted" href="/">www.charlienuttall.com.com</a></li>
						<li><i class="icon-phone"></i> +1.415.963.1246</li>
					</ul>
						<div class="pad15"> </div>
						<p>
              <a href="http://www.linkedin.com/in/charlienuttall"><i class="icon icon-linkedin marg-right5"></i></a>
              <a href="https://twitter.com/cenuttall_sf"><i class="icon icon-twitter marg-right5"></i></a>
              <a href="http://www.pinterest.com/charlienuttall/"><i class="icon icon-pinterest marg-right5"></i></a>
              <a href="https://github.com/rugbycub"><i class="icon icon-github marg-right5"></i></a>
            </p>
					 </div>
					
					<div class="span8">
				<div class="contact_form">  
			<div id="note"></div>
		<div id="fields">
    <% if @added != nil %>
      <%= render :partial => 'thanks' %>
    <% else %>
      <%= render :partial => 'form' %>
	 <%end%>
  </div>
</div> 
	</div>
		</div>
			</div>
            	</div>
            </div>
		<!-- // END -->	

</body>
</html>
